<style  type="text/css"> 
cool {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}
</style>

<b><center>
<span style="font-size: 24pt; line-height: 1.2">
Game of Thrones Databases<br>
</span>
</center></b>
</span><br>
<p>
<i><center>
<span style="font-size: 20pt; line-height: 1.2">
Programming Project Notebook<br>
</span>
</center></i>

# Introduction

- This project focused on several tables of Game of Thrones dataset.  

- The main steps are: Data importing using MySQLWorkbench/Data Cleaning using SQL queries/View Development

In [1]:
import sys
import os
import platform
import psutil

print("="*40, "Path Information", "="*40)
print("Path = ", os.getcwd())

print("="*40, "System Information", "="*40)
uname = platform.uname()
print(f"System: {uname.system}")
print(f"Node Name: {uname.node}")
print(f"Release: {uname.release}")
print(f"Version: {uname.version}")
print(f"Machine: {uname.machine}")
print(f"Processor: {uname.processor}")

print("="*40, "Network Information", "="*40)

import socket    
hostname = socket.gethostname()    
IPAddr = socket.gethostbyname(hostname)    
print("Your Computer Name is:" + hostname)    
print("Your Computer IP Address is:" + IPAddr) 

import uuid
print ("Your MAC address is:", hex(uuid.getnode()))

======================================== Path Information ========================================
Path =  /Users/xiayunj/Desktop/project/sql
======================================== System Information ========================================
System: Darwin
Node Name: xiayunjundeAir
Release: 19.5.0
Version: Darwin Kernel Version 19.5.0: Tue May 26 20:41:44 PDT 2020; root:xnu-6153.121.2~2/RELEASE_X86_64
Machine: x86_64
Processor: i386
======================================== Network Information ========================================
Your Computer Name is:xiayunjundeAir
Your Computer IP Address is:192.168.1.19
Your MAC address is: 0xacde48001122



## Tasks

- Data Import: Import the tables in the Data/csv folder


- Data Cleanup: Clean up the imported tables


- Schema Improvement: For the following tables, perform the schema improvement tasks
    1. ```characters```
    2. ```scenes```
    3. ```scenes_characters```


- Views: Create the following views
    1. Implement the view "Character Interactions."
    2. Define, explain and implement a view of you choosing.
    
    
- Programming Section: Complete the implementation for the BaseDataTable and RDBDataTable classes

## Task 1: Initial Data Import

### Task

- The folder in the project ```Data/csv``` contains several CSV files:
    - ```'character_relationships.csv```
    - ```characters.csv```
    - ```characters_actors.csv```
    - ```episodes.csv```
    - ```locations.csv```
    - ```scenes.csv```
    - ```scenes_characters.csv```
    
    
- Use MySQL Workbench:
    - Create a new schema ```W4111GoTSolution``` and set as the default schema.
    - Use the MySQL [Workbench Table Data Import Wizard](https://dev.mysql.com/doc/workbench/en/wb-admin-export-import-table.html) and import each of the files. Choose the option to create a new table.

### Tests

In [2]:
%load_ext sql
%sql mysql+pymysql://dbuser:dbuserdbuser@localhost/W4111GoTSolution

'Connected: dbuser@W4111GoTSolution'

```1.``` Find all the characters with last name ```Stark.```

In [3]:
%sql select * from W4111GoTSolution.characters where characterName like("% Stark")

 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
14 rows affected.

[(15, 'Arya Stark', '/character/ch0158604/', 'Maisie Williams', '/name/nm3586035/', 'CH_15', '', 'https://images-na.ssl-images-amazon.com/images/M/MV5BMTk5MTYwNDc0OF5BMl5BanBnXkFtZTcwOTg2NDg1Nw@@._V1._SX100_SY140_.jpg', 'https://images-na.ssl-images-amazon.com/images/M/MV5BMTk5MTYwNDc0OF5BMl5BanBnXkFtZTcwOTg2NDg1Nw@@._V1_SY1000_CR0,0,665,1000_AL_.jpg', '', ''),
 (20, 'Benjen Stark', '/character/ch0153996/', 'Joseph Mawle', '/name/nm1152798/', 'CH_20', '', 'https://images-na.ssl-images-amazon.com/images/M/MV5BMjFiY2M5MjgtZmRiMS00ZTAyLTk2Y2UtMjdjZTRkZmVlYTMyXkEyXkFqcGdeQXVyMjk3NTUyOTc@._V1._SX100_SY140_.jpg', 'https://images-na.ssl-images-amazon.com/images/M/MV5BMjFiY2M5MjgtZmRiMS00ZTAyLTk2Y2UtMjdjZTRkZmVlYTMyXkEyXkFqcGdeQXVyMjk3NTUyOTc@._V1_.jpg', '', ''),
 (28, 'Brandon Stark', '', '', '', 'CH_28', '', '', '', '', ''),
 (29, 'Bran Stark', '/character/ch0234897/', 'Isaac Hempstead Wright', '/name/nm3652842/', 'CH_29', 'True', 'https://images-na.ssl-images-amazon.com/images/M/MV5BMTA1NTg0NTI3MTBeQTJeQWpwZ15BbWU3MDEyNjg4OTQ@._V1._SX100_SY140_.jpg', 'https://images-na.ssl-images-amazon.com/images/M/MV5BMTA1NTg0NTI3MTBeQTJeQWpwZ15BbWU3MDEyNjg4OTQ@._V1_SX1500_CR0,0,1500,999_AL_.jpg', '', ''),
 (36, 'Catelyn Stark', '/character/ch0145135/', 'Michelle Fairley', '/name/nm0265610/', 'CH_36', '', 'https://images-na.ssl-images-amazon.com/images/M/MV5BMTY2ODc4MTkxMV5BMl5BanBnXkFtZTcwNjM3MTg4OQ@@._V1._SX100_SY140_.jpg', 'https://images-na.ssl-images-amazon.com/images/M/MV5BMTY2ODc4MTkxMV5BMl5BanBnXkFtZTcwNjM3MTg4OQ@@._V1_SY1000_CR0,0,915,1000_AL_.jpg', '', ''),
 (59, 'Eddard Stark', '/character/ch0154681/', 'Sean Bean', '/name/nm0000293/', 'CH_59', '', 'https://images-na.ssl-images-amazon.com/images/M/MV5BODcwMjg0MDQ5MF5BMl5BanBnXkFtZTcwMTk2NDk4OQ@@._V1._SX100_SY140_.jpg', 'https://images-na.ssl-images-amazon.com/images/M/MV5BODcwMjg0MDQ5MF5BMl5BanBnXkFtZTcwMTk2NDk4OQ@@._V1_SY1000_CR0,0,827,1000_AL_.jpg', 'Ned', ''),
 (183, 'Lyanna Stark', '/character/ch0543804/', 'Aisling Franciosi', '/name/nm4957233/', 'CH_183', '', 'https://images-na.ssl-images-amazon.com/images/M/MV5BMTE5NTczY2QtNmQxYS00NTAwLWE2ZTAtYzc1MTkyZGU5MzRkL2ltYWdlL2ltYWdlXkEyXkFqcGdeQXVyMjk3NTUyOTc@._V1._SX100_SY140_.jpg', 'https://images-na.ssl-images-amazon.com/images/M/MV5BMTE5NTczY2QtNmQxYS00NTAwLWE2ZTAtYzc1MTkyZGU5MzRkL2ltYWdlL2ltYWdlXkEyXkFqcGdeQXVyMjk3NTUyOTc@._V1_.jpg', '', ''),
 (284, 'Rickard Stark', '', '', '', 'CH_284', '', '', '', '', ''),
 (285, 'Rickon Stark', '/character/ch0233141/', 'Art Parkinson', '/name/nm3280686/', 'CH_285', '', 'https://images-na.ssl-images-amazon.com/images/M/MV5BMWZiOGNjMDAtOTRlNi00MDJmLWEyMTMtOGEwZTM5ODJlNDAyXkEyXkFqcGdeQXVyMjk3NTUyOTc@._V1._SX100_SY140_.jpg', 'https://images-na.ssl-images-amazon.com/images/M/MV5BMWZiOGNjMDAtOTRlNi00MDJmLWEyMTMtOGEwZTM5ODJlNDAyXkEyXkFqcGdeQXVyMjk3NTUyOTc@._V1_.jpg', '', ''),
 (286, 'Robb Stark', '/character/ch0158596/', 'Richard Madden', '/name/nm0534635/', 'CH_286', 'True', 'https://images-na.ssl-images-amazon.com/images/M/MV5BMjI2NDE1NzczNF5BMl5BanBnXkFtZTcwNjcwODg4OQ@@._V1._SX100_SY140_.jpg', 'https://images-na.ssl-images-amazon.com/images/M/MV5BMjI2NDE1NzczNF5BMl5BanBnXkFtZTcwNjcwODg4OQ@@._V1_SY1000_CR0,0,845,1000_AL_.jpg', '', ''),
 (300, 'Sansa Stark', '/character/ch0158137/', 'Sophie Turner', '/name/nm3849842/', 'CH_300', 'True', 'https://images-na.ssl-images-amazon.com/images/M/MV5BNjAwMjE2NDExNF5BMl5BanBnXkFtZTcwODAwODg4OQ@@._V1._SX100_SY140_.jpg', 'https://images-na.ssl-images-amazon.com/images/M/MV5BNjAwMjE2NDExNF5BMl5BanBnXkFtZTcwODAwODg4OQ@@._V1_SY1000_CR0,0,806,1000_AL_.jpg', '', ''),
 (381, 'Young Benjen Stark', '/character/ch0153996/', 'Matteo Elezi', '/name/nm5502295/', 'CH_381', '', '', '', '', ''),
 (383, 'Young Lyanna Stark', '/character/ch0543804/', 'Cordelia Hill', '/name/nm8108764/', 'CH_383', '', '', '', '', ''),
 (386, 'Young Ned Stark', '/character/ch0154681/', 'Sebastian Croft', '/name/nm7509185/', 'CH_386', '', '', '', '', '')]

```2.``` Find all of the information about scenes in season 1, episode 1.

In [4]:
%sql select * from W4111GoTSolution.scenes where episodeNum=1 and seasonNum=1

 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
36 rows affected.

[(0, 1, 1, 1, '0:00:40', '0:01:45', 'The Wall', 'Castle Black', '', '', '', ''),
 (1, 1, 1, 2, '0:01:45', '0:03:24', 'North of the Wall', 'The Haunted Forest', '', '', '', ''),
 (2, 1, 1, 3, '0:03:24', '0:03:31', 'North of the Wall', 'The Haunted Forest', '', '', '', ''),
 (3, 1, 1, 4, '0:03:31', '0:03:38', 'North of the Wall', 'The Haunted Forest', '', '', '', ''),
 (4, 1, 1, 5, '0:03:38', '0:03:44', 'North of the Wall', 'The Haunted Forest', '', '', '', ''),
 (5, 1, 1, 6, '0:03:44', '0:05:36', 'North of the Wall', 'The Haunted Forest', '', '', '', ''),
 (6, 1, 1, 7, '0:05:36', '0:05:41', 'North of the Wall', 'The Haunted Forest', '', '', '', ''),
 (7, 1, 1, 8, '0:05:41', '0:05:48', 'North of the Wall', 'The Haunted Forest', '', '', '', ''),
 (8, 1, 1, 9, '0:05:48', '0:05:58', 'North of the Wall', 'The Haunted Forest', '', '', '', ''),
 (9, 1, 1, 10, '0:05:58', '0:06:21', 'North of the Wall', 'The Haunted Forest', '', '', '', ''),
 (10, 1, 1, 11, '0:06:21', '0:06:39', 'North of the Wall', 'The Haunted Forest', '', '', '', ''),
 (11, 1, 1, 12, '0:06:39', '0:06:49', 'North of the Wall', 'The Haunted Forest', '', '', '', ''),
 (12, 1, 1, 13, '0:06:49', '0:07:45', 'North of the Wall', 'The Haunted Forest', '', '', '', ''),
 (13, 1, 1, 14, '0:09:27', '0:12:38', 'The North', 'Winterfell', '', '', '', ''),
 (14, 1, 1, 15, '0:12:38', '0:15:41', 'The North', 'Outside Winterfell', '', '', '', ''),
 (15, 1, 1, 16, '0:15:41', '0:18:44', 'The North', 'Outside Winterfell', '', '', '', ''),
 (16, 1, 1, 17, '0:18:44', '0:20:45', 'The Crownlands', "King's Landing", '', '', '', ''),
 (17, 1, 1, 18, '0:20:45', '0:22:43', 'The North', 'Winterfell', '', '', '', ''),
 (18, 1, 1, 19, '0:22:43', '0:23:09', 'The North', 'Winterfell', '', '', '', ''),
 (19, 1, 1, 20, '0:23:09', '0:23:39', 'The North', 'Winterfell', '', '', '', ''),
 (20, 1, 1, 21, '0:23:39', '0:29:16', 'The North', 'Winterfell', '', '', '', ''),
 (21, 1, 1, 22, '0:29:16', '0:30:47', 'The North', 'Winterfell', '', '', '', ''),
 (22, 1, 1, 23, '0:30:47', '0:32:57', 'The North', 'Winterfell', '', '', '', ''),
 (23, 1, 1, 24, '0:32:57', '0:33:45', 'The North', 'Winterfell', '', '', '', ''),
 (24, 1, 1, 25, '0:33:45', '0:36:17', 'Pentos', '', '', '', '', ''),
 (25, 1, 1, 26, '0:36:17', '0:38:23', 'Pentos', '', '', '', '', ''),
 (26, 1, 1, 27, '0:38:23', '0:40:05', 'Pentos', '', '', '', '', ''),
 (27, 1, 1, 28, '0:40:05', '0:40:56', 'The North', 'Winterfell', '', '', '', ''),
 (28, 1, 1, 29, '0:40:56', '0:41:19', 'The North', 'Winterfell', '', '', '', ''),
 (29, 1, 1, 30, '0:41:19', '0:44:14', 'The North', 'Winterfell', '', '', '', ''),
 (30, 1, 1, 31, '0:44:14', '0:47:28', 'The North', 'Winterfell', '', '', '', ''),
 (31, 1, 1, 32, '0:47:28', '0:50:29', 'The North', 'Winterfell', '', '', '', ''),
 (32, 1, 1, 33, '0:50:29', '0:56:05', 'Pentos', '', '', '', '', ''),
 (33, 1, 1, 34, '0:56:05', '0:57:48', 'Pentos', '', '', '', '', ''),
 (34, 1, 1, 35, '0:57:48', '0:59:06', 'The North', 'Winterfell', '', '', '', ''),
 (35, 1, 1, 36, '0:59:06', '1:00:57', 'The North', 'Winterfell', '', '', '', '')]

```3.``` Find all of the characters and actors who played them.

In [5]:
%%sql
SELECT
    character_id,
    (select characterName from characters where characters.character_id=
         characters_actors.character_id) as characterName,
    actorName, season
FROM W4111GoTSolution.characters_actors;

 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
408 rows affected.

[('CH_0', 'Addam Marbrand', 'B.J. Hogg', ''),
 ('CH_2', 'Aeron Greyjoy', 'Michael Feast', ''),
 ('CH_3', 'Aerys II Targaryen', 'David Rintoul', ''),
 ('CH_4', 'Akho', 'Chuku Modu', ''),
 ('CH_5', 'Alliser Thorne', 'Owen Teale', ''),
 ('CH_6', 'Alton Lannister', 'Karl Davies', ''),
 ('CH_7', 'Alys Karstark', 'Megan Parkinson', ''),
 ('CH_8', 'Amory Lorch', 'Fintan McKeown', ''),
 ('CH_9', 'Anguy', 'Philip McGinley', ''),
 ('CH_10', 'Archmaester Marwyn', 'Jim Broadbent', ''),
 ('CH_11', 'Areo Hotah', 'Deobia Oparei', ''),
 ('CH_12', 'Armeca', 'Sahara Knite', ''),
 ('CH_13', 'Arthur', 'Nathanael Saleh', ''),
 ('CH_14', 'Arthur Dayne', 'Luke Roberts', ''),
 ('CH_15', 'Arya Stark', 'Maisie Williams', ''),
 ('CH_16', 'Baby Sam', 'William Wilson', '7.0'),
 ('CH_16', 'Baby Sam', 'James Wilson', '7.0'),
 ('CH_17', 'Balon Greyjoy', 'Patrick Malahide', ''),
 ('CH_18', 'Baratheon Guard', 'Phil Barnhill', ''),
 ('CH_19', 'Barristan Selmy', 'Ian McElhinney', ''),
 ('CH_20', 'Benjen Stark', 'Joseph Mawle', ''),
 ('CH_21', 'Beric Dondarrion', 'Richard Dormer', '3.0'),
 ('CH_21', 'Beric Dondarrion', 'Richard Dormer', '6.0'),
 ('CH_21', 'Beric Dondarrion', 'Richard Dormer', '7.0'),
 ('CH_21', 'Beric Dondarrion', 'Richard Dormer', '8.0'),
 ('CH_21', 'Beric Dondarrion', 'David Michael Scott', '1.0'),
 ('CH_22', 'Bianca', 'Eline Powell', ''),
 ('CH_23', 'Biter', 'Gerard Jordan', ''),
 ('CH_24', 'Black Lorren', 'Forbes KB', ''),
 ('CH_25', 'Black Walder Rivers', 'Tim Plester', ''),
 ('CH_26', 'Bobono', 'Leigh Gill', ''),
 ('CH_27', 'Bowen Marsh', 'Michael Condron', ''),
 ('CH_29', 'Bran Stark', 'Isaac Hempstead Wright', ''),
 ('CH_30', 'Brea', 'Gemita Samarra', ''),
 ('CH_31', 'Brienne of Tarth', 'Gwendoline Christie', ''),
 ('CH_32', 'Bronn', 'Jerome Flynn', ''),
 ('CH_33', 'Brother Ray', 'Ian McShane', ''),
 ('CH_34', 'Brynden Tully', 'Clive Russell', ''),
 ('CH_35', 'Captain of the Archers', 'Michael Grennell', ''),
 ('CH_36', 'Catelyn Stark', 'Michelle Fairley', ''),
 ('CH_37', 'Catspaw Assassin', 'Lalor Roddy', ''),
 ('CH_38', 'Cersei Lannister', 'Lena Headey', ''),
 ('CH_39', 'Child of the Forest', 'Alice Hewkin', ''),
 ('CH_40', 'Citadel Maester', 'Frank Hvam', ''),
 ('CH_41', 'Colen of Greenpools', 'Darren Killeen', ''),
 ('CH_42', 'Craster', 'Robert Pugh', ''),
 ('CH_43', 'Daario Naharis', 'Ed Skrein', '3.0'),
 ('CH_43', 'Daario Naharis', 'Michiel Huisman', '4.0'),
 ('CH_43', 'Daario Naharis', 'Michiel Huisman', '5.0'),
 ('CH_43', 'Daario Naharis', 'Michiel Huisman', '6.0'),
 ('CH_44', 'Daenerys Targaryen', 'Emilia Clarke', ''),
 ('CH_45', 'Dagmer Cleftjaw', 'Ralph Ineson', ''),
 ('CH_46', 'Daisy', 'Maisie Dee', ''),
 ('CH_47', 'Davos Seaworth', 'Liam Cunningham', ''),
 ('CH_48', 'Dickon Tarly', 'Freddie Stroma', '6.0'),
 ('CH_48', 'Dickon Tarly', 'Tom Hopper', '7.0'),
 ('CH_49', 'Dongo the Giant', 'Ian Whyte', ''),
 ('CH_50', 'Donnel Waynwood', 'Alisdair Simpson', ''),
 ('CH_51', 'Dontos Hollard', 'Tony Way', ''),
 ('CH_52', 'Doran Martell', 'Alexander Siddig', ''),
 ('CH_53', 'Doreah', 'Roxanne McKee', ''),
 ('CH_54', 'Dothraki Bloodrider #1', 'Diogo Sales', ''),
 ('CH_55', 'Dothraki Bloodrider #2', 'Junade Khan', ''),
 ('CH_56', 'Drennan', 'David Coakley', ''),
 ('CH_58', 'Drowned Priest', 'Jonathan Ryan', ''),
 ('CH_59', 'Eddard Stark', 'Sean Bean', ''),
 ('CH_60', 'Eddison Tollett', 'Ben Crompton', ''),
 ('CH_61', 'Edmure Tully', 'Tobias Menzies', ''),
 ('CH_62', 'Ellaria Sand', 'Indira Varma', ''),
 ('CH_64', 'Eon Hunter', 'Barrington Cullen', ''),
 ('CH_65', 'Euron Greyjoy', 'Pilou Asbk', ''),
 ('CH_66', 'Faceless Man', 'Cedric Henderson', ''),
 ('CH_67', 'Farlen', 'Peter Ballance', ''),
 ('CH_68', 'Gared', 'Dermot Keaney', ''),
 ('CH_69', 'Gatins', 'Ricky Champ', ''),
 ('CH_70', 'Gendry', 'Joe Dempsie', ''),
 ('CH_71', 'Gerold Hightower', 'Eddie Eyre', ''),
 ('CH_73', 'Gilly', 'Hannah Murray', ''),
 ('CH_74', 'Goldcloak', 'Alan Paris', ''),
 ('CH_75', 'Goldcloak', 'Sam Callis', ''),
 ('CH_76', 'Goldcloak #1', 'Nikovich Sammut', ''),
 ('CH_77', 'Goldcloak #2', 'Seamus Kelly', ''),
 ('CH_78', 'Grand Maester Pycelle', 'Julian Glover', ''),
 ('CH_79', 'Great Master #1', 'Emilio Doorgasingh', '4.0'),
 ('CH_79', 'Great Master #1', 'Gianpiero Cognoli', '5.0'),
 ('CH_80', 'Great Master #2', 'Derek Horsham', '4.0'),
 ('CH_80', 'Great Master #2', 'Bobby Asghar', '5.0'),
 ('CH_81', 'Great Master #3', 'Peter Silverleaf', ''),
 ('CH_82', 'Great Master #4', 'Davor Jozinovic', ''),
 ('CH_83', 'Great Master #5', 'Ivan Peric', ''),
 ('CH_84', 'Great Master #6', 'Hadi Kermani', ''),
 ('CH_85', 'Great Master #7', 'Tonci Banov', ''),
 ('CH_86', 'Greatjon Umber', 'Clive Mantle', ''),
 ('CH_87', 'Gregor Clegane', 'Ian Whyte', '2.0'),
 ('CH_87', 'Gregor Clegane', 'Conan Stevens', '1.0'),
 ('CH_87', 'Gregor Clegane', 'Hafr Jlus Bjrnsson', '4.0'),
 ('CH_87', 'Gregor Clegane', 'Hafr Jlus Bjrnsson', '5.0'),
 ('CH_87', 'Gregor Clegane', 'Hafr Jlus Bjrnsson', '6.0'),
 ('CH_87', 'Gregor Clegane', 'Hafr Jlus Bjrnsson', '7.0'),
 ('CH_87', 'Gregor Clegane', 'Hafr Jlus Bjrnsson', '8.0'),
 ('CH_88', 'Greizhen mo Ullhor', 'Cliff Barry', ''),
 ('CH_89', 'Grenn', 'Mark Stanley', ''),
 ('CH_91', 'Grey Worm', 'Jacob Anderson', ''),
 ('CH_92', 'Hallyne', 'Roy Dotrice', ''),
 ('CH_93', 'Handmaid', 'Sabrina Bartlett', ''),
 ('CH_94', 'Handmaid', 'Sara Dylan', ''),
 ('CH_95', 'Harald Karstark', 'Paul Rattray', ''),
 ('CH_96', 'Harry Strickland', 'Marc Rissmann', ''),
 ('CH_97', 'High Priestess', 'Souad Faress', ''),
 ('CH_98', 'High Septon', 'David Verrey', ''),
 ('CH_99', 'High Septon', 'Paul Bentley', ''),
 ('CH_100', 'High Sparrow', 'Jonathan Pryce', ''),
 ('CH_101', 'Hizdahr zo Loraq', 'Joel Fry', ''),
 ('CH_102', 'Hodor', 'Kristian Nairn', ''),
 ('CH_103', 'Hoster Tully', 'Christopher Newman', ''),
 ('CH_104', 'Hot Pie', 'Ben Hawkey', ''),
 ('CH_105', 'Howland Reed', 'Leo Woodruff', ''),
 ('CH_106', 'Hugh of the Vale', 'Jefferson Hall', ''),
 ('CH_107', 'Illyrio Mopatis', 'Roger Allam', ''),
 ('CH_108', 'Ilyn Payne', 'Wilko Johnson', ''),
 ('CH_109', 'Irri', 'Amrita Acharia', ''),
 ('CH_110', 'Izembaro', 'Richard E. Grant', ''),
 ('CH_111', 'Jacks', 'Paul Caddell', ''),
 ('CH_113', 'Jaime Lannister', 'Nikolaj Coster-Waldau', ''),
 ('CH_114', 'Janos Slynt', 'Dominic Carter', ''),
 ('CH_115', "Jaqen H'ghar", 'Tom Wlaschiha', ''),
 ('CH_116', "Jaqen's Disguise", "Patrick O'Kane", ''),
 ('CH_117', 'Jaremy Rykker', "Jeffrey O'Brien", ''),
 ('CH_118', 'Jeor Mormont', 'James Cosmo', ''),
 ('CH_119', 'Jhiqui', 'Sarita Piotrowski', ''),
 ('CH_120', 'Joffrey Baratheon', 'Jack Gleeson', ''),
 ('CH_121', 'Jojen Reed', 'Thomas Brodie-Sangster', ''),
 ('CH_122', 'Jon Arryn', 'John Standing', ''),
 ('CH_123', 'Jon Snow', 'Kit Harington', ''),
 ('CH_124', 'Jonos Bracken', "Gerry O'Brien", ''),
 ('CH_125', 'Jorah Mormont', 'Iain Glen', ''),
 ('CH_126', 'Jory Cassel', 'Jamie Sives', ''),
 ('CH_127', 'Joyeuse Erenford', 'Kelly Long', ''),
 ('CH_128', 'Karl Tanner', 'Burn Gorman', ''),
 ('CH_129', 'Karsi', 'Birgitte Hjort Srensen', ''),
 ('CH_130', 'Kayla', 'Pixie Le Knot', ''),
 ('CH_131', 'Kegs', 'Tim Landers', ''),
 ('CH_132', 'Kevan Lannister', 'Ian Gelder', ''),
 ('CH_133', 'Khal Drogo', 'Jason Momoa', ''),
 ('CH_134', 'Khal Moro', 'Joseph Naufahu', ''),
 ('CH_135', 'Khal Rhalko', 'Andrei Claude', ''),
 ('CH_136', 'King Joffrey Baratheon Dwarf', 'Raymond Griffiths', ''),
 ('CH_137', 'King Renly Baratheon Dwarf', 'Dean Whatton', ''),
 ('CH_138', 'King Robb Stark Dwarf', 'George Appleby', ''),
 ('CH_139', 'King Stannis Baratheon Dwarf', 'Maxwell Laird', ''),
 ('CH_140', "King's Landing Rioter #1", 'Reg Wayment', ''),
 ('CH_141', "King's Landing Rioter #2", 'Marko Juraga', ''),
 ('CH_142', "King's Landing Rioter #3", 'Rea Separovic', ''),
 ('CH_143', 'Kinvara', 'Ania Bukstein', ''),
 ('CH_144', 'Kitty Frey', 'Lucy Hayes', ''),
 ('CH_145', 'Knight of House Frey', 'Patrick Ryan', ''),
 ('CH_146', 'Knight of House Lynderly', 'Paddy Rocks', ''),
 ('CH_147', 'Kovarro', 'Steven Cole', ''),
 ('CH_148', 'Kraznys mo Nakloz', 'Dan Hildebrand', ''),
 ('CH_149', 'Kurleket', 'Kevin Keenan', ''),
 ('CH_151', 'Lady Crane', 'Essie Davis', ''),
 ('CH_152', 'Lancel Lannister', 'Eugene Simon', ''),
 ('CH_153', 'Lannister Captain', 'Aiden Condron', ''),
 ('CH_154', 'Lannister Captain', 'Richard Laing', ''),
 ('CH_155', 'Lannister Guardsman', 'Conor Delaney', ''),
 ('CH_156', 'Lannister Messenger', 'Simon Stewart', ''),
 ('CH_157', 'Lannister Scout', 'Chris Gallagher', ''),
 ('CH_158', 'Lead Dornish Guard', 'Christian Vit', ''),
 ('CH_159', 'Leaf', 'Kae Alexander', '6.0'),
 ('CH_159', 'Leaf', 'Octavia Selena Alexandru', '4.0'),
 ('CH_160', 'Lem Lemoncloak', 'Jhannes Haukur Jhannesson', ''),
 ('CH_161', 'Leo Lefford', 'Vinnie McCabe', ''),
 ('CH_162', 'Lhara', 'Sarine Sofair', ''),
 ('CH_163', 'Little Bird', 'Samuel Paul Small', ''),
 ('CH_164', 'Little Bird', 'Tristan Mercieca', ''),
 ('CH_165', 'Little Bird #3', 'Michael Nevin', ''),
 ('CH_166', 'Little Bird #4', 'Jesse Magee', ''),
 ('CH_167', 'Little Bird #5', 'Iona Clarke', ''),
 ('CH_168', 'Little Bird #6', 'Lucy Gallagher', ''),
 ('CH_169', 'Little Bird #7', 'Fionn Kernan', ''),
 ('CH_170', 'Loboda', 'Zachary Baharov', ''),
 ('CH_171', 'Locke', 'Noah Taylor', ''),
 ('CH_172', 'Lollys Stokeworth', 'Elizabeth Cadwallader', ''),
 ('CH_173', 'Lommy Greenhands', 'Eros Vlahos', ''),
 ('CH_174', 'Loras Tyrell', 'Finn Jones', ''),
 ('CH_175', 'Lord Galbart Glover', 'Mark Coney', ''),
 ('CH_176', 'Lord Portan', 'Gordon Fulton', ''),
 ('CH_177', 'Lord Varys', 'Conleth Hill', ''),
 ('CH_178', 'Lordsport Dockhand', "Jer O'Leary", ''),
 ('CH_179', 'Lothar Frey', 'Daniel Tuite', '6.0'),
 ('CH_179', 'Lothar Frey', 'Tom Brooke', '3.0'),
 ('CH_180', "Loyal Night's Watchman #1", 'Steve Cash', ''),
 ('CH_181', "Loyal Night's Watchman #2", 'Robert Fawsitt', ''),
 ('CH_182', 'Lyanna Mormont', 'Bella Ramsey', ''),
 ('CH_183', 'Lyanna Stark', 'Aisling Franciosi', ''),
 ('CH_184', 'Lysa Arryn', 'Kate Dickie', ''),
 ('CH_185', 'Mace Tyrell', 'Roger Ashton-Griffiths', ''),
 ('CH_186', 'Maester Aemon', 'Peter Vaughan', ''),
 ('CH_187', 'Maester Cressen', 'Oliver Ford Davies', ''),
 ('CH_188', 'Maester Luwin', 'Donald Sumpter', ''),
 ('CH_189', 'Maester Wolkan', 'Richard Rycroft', ''),
 ('CH_190', 'Mag the Mighty', 'Neil Fingleton', ''),
 ('CH_191', 'Maggy', 'Jodhi May', ''),
 ('CH_192', 'Mago', 'Ivailo Dimitrov', ''),
 ('CH_193', 'Male Prostitute', 'Dennis Stokes', ''),
 ('CH_194', 'Malko', 'Adewale Akinnuoye-Agbaje', ''),
 ('CH_195', 'Mance Rayder', 'Ciarn Hinds', ''),
 ('CH_196', 'Mandon Moore', 'James Doran', ''),
 ('CH_197', 'Manservant', 'Conor Watters', ''),
 ('CH_198', 'Marei', 'Josephine Gillan', ''),
 ('CH_199', 'Margaery Tyrell', 'Natalie Dormer', ''),
 ('CH_200', "Margaery's Handmaiden", 'Aisling Jarrett-Gavin', ''),
 ('CH_201', 'Marillion', 'Emun Elliott', ''),
 ('CH_202', 'Martyn Lannister', 'Dean-Charles Chapman', ''),
 ('CH_203', 'Masha Heddle', 'Susie Kelly', ''),
 ('CH_204', 'Matthos Seaworth', 'Kerr Logan', ''),
 ('CH_205', 'Meera Reed', 'Ellie Kendrick', ''),
 ('CH_206', 'Meereen Slave Master', 'Laurence Doherty', ''),
 ('CH_207', 'Melessa Tarly', 'Samantha Spiro', ''),
 ('CH_208', 'Melisandre', 'Carice van Houten', ''),
 ('CH_209', 'Merchant Captain', 'Gary Pillai', ''),
 ('CH_210', 'Mero', 'Mark Killeen', ''),
 ('CH_211', 'Meryn Trant', 'Ian Beattie', ''),
 ('CH_212', 'Mhaegen', 'Antonia Christophers', ''),
 ('CH_213', 'Mikken', 'Boyd Rankin', ''),
 ('CH_214', 'Mirelle', 'Elisa Lasowski', ''),
 ('CH_215', 'Mirri Maz Duur', 'Mia Soteriou', ''),
 ('CH_216', 'Missandei', 'Nathalie Emmanuel', ''),
 ('CH_217', 'Mord', 'Ciaran Bermingham', ''),
 ('CH_218', 'Mossador', 'Reece Noi', ''),
 ('CH_219', 'Musician #1', 'Nanna Brynds Hilmarsdttir', ''),
 ('CH_220', 'Musician #1', 'Jon Thor Birgisson', ''),
 ('CH_221', 'Musician #2', 'Ragnar rhallsson', ''),
 ('CH_222', 'Musician #2', 'Orri P. Dyrason', ''),
 ('CH_223', 'Musician #3', 'Georg Holm', ''),
 ('CH_224', 'Musician #3', 'Arnar Rosenkranz Hilmarsson', ''),
 ('CH_225', 'Musician #4', 'Brynjar Leifsson', ''),
 ('CH_226', 'Musician #5', 'Kristjn Kristjnsson', ''),
 ('CH_227', 'Mycah', 'Rhodri Hosking', ''),
 ('CH_228', 'Myranda', 'Charlotte Hope', ''),
 ('CH_229', 'Myrcella Baratheon', 'Aimee Richardson', '1.0'),
 ('CH_229', 'Myrcella Baratheon', 'Aimee Richardson', '2.0'),
 ('CH_229', 'Myrcella Baratheon', 'Nell Tiger Free', '5.0'),
 ('CH_229', 'Myrcella Baratheon', 'Nell Tiger Free', '6.0'),
 ('CH_230', 'Ned Umber', 'Harry Grasby', ''),
 ('CH_231', "Night's Watch Deserter", "Barry John O'Connor", ''),
 ('CH_232', "Night's Watch Messenger", "Frank O'Sullivan", ''),
 ('CH_233', "Night's Watch Officer", 'Dennis McKeever', ''),
 ('CH_234', "Night's Watch Officer", 'Michael Stuart', ''),
 ('CH_235', "Night's Watchman", 'Marcus Lamb', ''),
 ('CH_236', "Night's Watchman", 'Michael Hooley', ''),
 ('CH_237', "Night's Watchman", 'Patrick J Molloy', ''),
 ('CH_238', "Night's Watchman #1", 'Michael Hayes', ''),
 ('CH_239', "Night's Watchman #2", 'Ruair Heading', ''),
 ('CH_240', "Night's Watchman #2", 'Tony Flynn', ''),
 ('CH_241', 'Northman Rioter', 'Jed Murray', ''),
 ('CH_243', 'Nymeria Sand', 'Jessica Henwick', ''),
 ('CH_244', 'Obara Sand', 'Keisha Castle-Hughes', ''),
 ('CH_245', 'Oberyn Martell', 'Pedro Pascal', ''),
 ('CH_246', 'Old Nan', 'Margaret John', ''),
 ('CH_247', 'Old Woman Prisoner', 'Gina Moxley', ''),
 ('CH_248', 'Olenna Tyrell', 'Diana Rigg', ''),
 ('CH_249', 'Olly', "Brenock O'Connor", ''),
 ('CH_250', 'Olyvar', 'Will Tudor', ''),
 ('CH_251', 'Orell', 'Mackenzie Crook', ''),
 ('CH_252', 'Ornela', 'Hannah John-Kamen', ''),
 ('CH_253', 'Osha', 'Natalia Tena', ''),
 ('CH_254', 'Othell Yarwyck', 'Brian Fortune', ''),
 ('CH_256', 'Pentoshi Servant', 'Rania Zouari', ''),
 ('CH_257', 'Petyr Baelish', 'Aidan Gillen', ''),
 ('CH_258', 'Podrick Payne', 'Daniel Portman', ''),
 ('CH_259', 'Polliver', 'Andy Kellegher', ''),
 ('CH_260', 'Prendahl na Ghezn', 'Ramon Tikaram', ''),
 ('CH_261', 'Pyat Pree', 'Ian Hanmore', ''),
 ('CH_262', 'Pypar', 'Josef Altin', ''),
 ('CH_263', 'Qhono', 'Staz Nair', ''),
 ('CH_264', 'Qhorin Halfhand', 'Simon Armstrong', ''),
 ('CH_265', 'Qotho', 'Dar Salim', ''),
 ('CH_266', 'Quaithe', 'Laura Pradelska', ''),
 ('CH_267', 'Qyburn', 'Anton Lesser', ''),
 ('CH_268', 'Rakharo', 'Elyes Gabel', ''),
 ('CH_269', 'Ramsay Snow', 'Iwan Rheon', ''),
 ('CH_270', 'Randyll Tarly', 'James Faulkner', ''),
 ('CH_271', 'Rast', 'Luke Barnes', ''),
 ('CH_272', 'Rattleshirt', 'Edward Dogliani', '2.0'),
 ('CH_272', 'Rattleshirt', 'Edward Dogliani', '3.0'),
 ('CH_272', 'Rattleshirt', "Ross O'Hennessy", '5.0'),
 ('CH_273', 'Razdal mo Eraz', 'George Georgiou', ''),
 ('CH_274', 'Red Keep Stableboy', 'Hugo Culverhouse', ''),
 ('CH_275', 'Red Priestess', 'Melanie Liburd', ''),
 ('CH_276', 'Red Priestess', 'Rila Fukushima', ''),
 ('CH_277', 'Renly Baratheon', 'Gethin Anthony', ''),
 ('CH_283', 'Rickard Karstark', 'John Stahl', '2.0'),
 ('CH_283', 'Rickard Karstark', 'John Stahl', '3.0'),
 ('CH_283', 'Rickard Karstark', 'Steve Blount', '1.0'),
 ('CH_285', 'Rickon Stark', 'Art Parkinson', ''),
 ('CH_286', 'Robb Stark', 'Richard Madden', ''),
 ('CH_287', 'Robert Baratheon', 'Mark Addy', ''),
 ('CH_288', 'Robett Glover', 'Tim McInnerny', ''),
 ('CH_289', 'Robin Arryn', 'Lino Facioli', ''),
 ('CH_290', 'Rodrik Cassel', 'Ron Donachie', ''),
 ('CH_291', 'Roose Bolton', 'Michael McElhatton', ''),
 ('CH_292', 'Rorge', 'Andy Beckwith', ''),
 ('CH_293', 'Ros', 'Esm Bianco', ''),
 ('CH_294', 'Roslin Frey', 'Alexandra Dowling', ''),
 ('CH_295', 'Royal Steward', 'Robert Sterne', ''),
 ('CH_296', 'Ryger Rivers', 'Bryan McCaugherty', ''),
 ('CH_297', 'Salladhor Saan', 'Lucian Msamati', ''),
 ('CH_298', 'Samwell Tarly', 'John Bradley', ''),
 ('CH_299', 'Sandor Clegane', 'Rory McCann', ''),
 ('CH_300', 'Sansa Stark', 'Sophie Turner', ''),
 ('CH_301', 'Selyse Baratheon', 'Tara Fitzgerald', '3.0'),
 ('CH_301', 'Selyse Baratheon', 'Tara Fitzgerald', '4.0'),
 ('CH_301', 'Selyse Baratheon', 'Tara Fitzgerald', '5.0'),
 ('CH_301', 'Selyse Baratheon', 'Sarah MacKeever', '2.0'),
 ('CH_302', 'Septa Moelle', 'Maggie Hayes', ''),
 ('CH_303', 'Septa Mordane', 'Susan Brown', ''),
 ('CH_304', 'Septa Scolera', 'Mary Jordan', ''),
 ('CH_305', 'Septa Unella', 'Hannah Waddingham', ''),
 ('CH_306', 'Septon', 'Kenneth Hadley', ''),
 ('CH_307', 'Septon', 'Terry Byrne', ''),
 ('CH_308', 'Ser Endrew Tarth', 'Dez McMahon', ''),
 ('CH_309', 'Shae', 'Sibel Kekilli', ''),
 ('CH_310', 'Shagga', 'Mark Lewis Jones', ''),
 ('CH_312', 'Shireen Baratheon', 'Kerry Ingram', ''),
 ('CH_313', 'Silk King', 'Slavko Juraga', ''),
 ('CH_314', 'Smalljon Umber', 'Dean S. Jagger', ''),
 ('CH_315', 'Spice King', 'Nicholas Blane', ''),
 ('CH_316', 'Stannis Baratheon', 'Stephen Dillane', ''),
 ('CH_317', 'Stark Bannerman', 'Michael Stuart', ''),
 ('CH_318', 'Stark Guard', 'Faolan Morgan', ''),
 ('CH_319', 'Stark Guard', 'Rick Burn', ''),
 ('CH_320', 'Stark Guard', 'David Sheehan', ''),
 ('CH_321', 'Stark Guard', 'Paul Monahan', ''),
 ('CH_322', 'Steelshanks Walton', 'Jamie Michie', ''),
 ('CH_323', 'Stevron Frey', 'Colin Carnegie', ''),
 ('CH_324', 'Stiv', 'Stephen Don', ''),
 ('CH_325', 'Styr', 'Yuri Kolokolnikov', ''),
 ('CH_327', 'Syrio Forel', 'Miltos Yerolemou', ''),
 ('CH_328', 'Talisa Maegyr', 'Oona Chaplin', ''),
 ('CH_329', 'Talla Tarly', 'Rebecca Benson', ''),
 ('CH_330', 'Ternesio Terys', 'Gary Oliver', ''),
 ('CH_331', 'The Bear', 'Bart the Bear', ''),
 ('CH_332', 'The Night King', 'Richard Brake', '4.0'),
 ('CH_332', 'The Night King', 'Richard Brake', '5.0'),
 ('CH_332', 'The Night King', "Vladimir 'Furdo' Furdik", '6.0'),
 ('CH_332', 'The Night King', "Vladimir 'Furdo' Furdik", '7.0'),
 ('CH_332', 'The Night King', "Vladimir 'Furdo' Furdik", '8.0'),
 ('CH_333', 'The Tickler', 'Anthony Morris', ''),
 ('CH_334', 'The Waif', 'Faye Marsay', ''),
 ('CH_335', 'Thenn Warg', 'Joseph Gatt', ''),
 ('CH_336', 'Theon Greyjoy', 'Alfie Allen', ''),
 ('CH_337', 'Thin Man', 'Oengus MacNamara', ''),
 ('CH_338', 'Thoros of Myr', 'Paul Kaye', ''),
 ('CH_339', 'Three-Eyed Raven', 'Struan Rodger', '4.0'),
 ('CH_339', 'Three-Eyed Raven', 'Max von Sydow', '6.0'),
 ('CH_340', 'Timett', 'Tobias Winter', ''),
 ('CH_341', 'Tobho Mott', 'Andrew Wilde', ''),
 ('CH_342', 'Todder', "Will O'Connell", ''),
 ('CH_343', 'Tomard', 'Phil Dixon', ''),
 ('CH_344', 'Tommen Baratheon', 'Callum Wharry', '1.0'),
 ('CH_344', 'Tommen Baratheon', 'Callum Wharry', '2.0'),
 ('CH_344', 'Tommen Baratheon', 'Dean-Charles Chapman', '4.0'),
 ('CH_344', 'Tommen Baratheon', 'Dean-Charles Chapman', '5.0'),
 ('CH_344', 'Tommen Baratheon', 'Dean-Charles Chapman', '6.0'),
 ('CH_345', 'Tormund Giantsbane', 'Kristofer Hivju', ''),
 ('CH_346', 'Trystane Martell', 'Toby Sebastian', ''),
 ('CH_347', 'Tycho Nestoris', 'Mark Gatiss', ''),
 ('CH_348', 'Tyene Sand', 'Rosabell Laurenti Sellers', ''),
 ('CH_349', 'Tyrion Lannister', 'Peter Dinklage', ''),
 ('CH_350', 'Tywin Lannister', 'Charles Dance', ''),
 ('CH_351', 'Vala', 'Meena Rayann', ''),
 ('CH_352', 'Vardis Egen', 'Brendan McCormack', ''),
 ('CH_353', 'Varly', 'Graham Charles', ''),
 ('CH_355', 'Viserys Targaryen', 'Harry Lloyd', ''),
 ('CH_356', 'Walda Bolton', 'Elizabeth Webster', ''),
 ('CH_357', 'Walder Frey', 'David Bradley', ''),
 ('CH_358', 'Wallen', "Barry O'Connor", ''),
 ('CH_359', 'Warlock', 'Lottie Steer', ''),
 ('CH_360', 'Waymar Royce', 'Rob Ostlere', ''),
 ('CH_361', 'Wedding Band', 'Sigur Rs', ''),
 ('CH_362', 'White Walker', 'Ian Whyte', ''),
 ('CH_363', 'White Walker', 'Ross Mullan', ''),
 ('CH_364', 'White Walker', 'Tim Loane', ''),
 ('CH_365', 'White Walker #2', 'Spencer Wilding', ''),
 ('CH_366', 'Wight Wildling Girl', 'Claire Wright', ''),
 ('CH_367', 'Wildling Rioter', 'Michael Patrick', ''),
 ('CH_368', 'Will', 'Bronson Webb', ''),
 ('CH_369', 'Willem Lannister', 'Timothy Gibbons', ''),
 ('CH_370', 'Willis Wode', 'Ryan McKenna', ''),
 ('CH_371', 'Wine Merchant', 'Simon Lowe', ''),
 ('CH_372', 'Winterfell Shepherd', 'Donagh Deeney', ''),

## Data Cleanup

### Task 2

- Create the Schema:

In [6]:
%sql CREATE SCHEMA `W4111GoTSolutionClean` ;

 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
(pymysql.err.ProgrammingError) (1007, "Can't create database 'W4111GoTSolutionClean'; database exists")
[SQL: CREATE SCHEMA `W4111GoTSolutionClean` ;]
(Background on this error at: http://sqlalche.me/e/f405)

In [7]:
%load_ext sql
%sql mysql+pymysql://dbuser:dbuserdbuser@localhost/W4111GoTSolutionClean

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: dbuser@W4111GoTSolutionClean'

1. Import data 
    - Import the table to schema W4111GoTSolutionClean from what we imported in schema W4111GoTSolution.

2. Assign types for columns 
    - Check the max entry length for each column of type "TEXT".
    - Assign types for each of these columns.

3. Key constarints (in Task 3)

### characters

In [13]:
%%sql
DROP TABLE IF EXISTS W4111GoTSolutionClean.characters;
CREATE TABLE W4111GoTSolutionClean.characters AS SELECT * FROM W4111GoTSolution.characters;

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
0 rows affected.
389 rows affected.

[]

In [14]:
%%sql 
SELECT max(length(characterName)) as characterNameMax,
max(length(characterLink)) as characterLinkMax,
max(length(actorName)) as actorNameMax,
max(length(actorLink)) as actorLinkMax,
max(length(character_id)) as character_idMax,
max(length(characterImageThumb)) as characterImageThumbMax,
max(length(nickname)) as nickNameMax
FROM W4111GoTSolutionClean.characters

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
1 rows affected.

[(28, 37, 29, 16, 6, 167, 14)]

In [15]:
%%sql
ALTER TABLE `W4111GoTSolutionClean`.`characters` 
CHANGE COLUMN `characterName` `characterName` VARCHAR(64) NULL DEFAULT NULL ,
CHANGE COLUMN `characterLink` `characterLink` VARCHAR(128) NULL DEFAULT NULL ,
CHANGE COLUMN `actorName` `actorName` VARCHAR(128) NULL DEFAULT NULL ,
CHANGE COLUMN `actorLink` `actorLink` VARCHAR(128) NULL DEFAULT NULL ,
CHANGE COLUMN `character_id` `character_id` VARCHAR(16) NULL DEFAULT NULL ,
CHANGE COLUMN `characterImageThumb` `characterImageThumb` VARCHAR(512) NULL DEFAULT NULL ,
CHANGE COLUMN `characterImageFull` `characterImageFull` VARCHAR(512) NULL DEFAULT NULL ,
CHANGE COLUMN `nickname` `nickname` VARCHAR(64) NULL DEFAULT NULL ;

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
389 rows affected.

[]

In [16]:
%sql describe characters

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
11 rows affected.

[('id', 'int', 'YES', '', None, ''),
 ('characterName', 'varchar(64)', 'YES', '', None, ''),
 ('characterLink', 'varchar(128)', 'YES', '', None, ''),
 ('actorName', 'varchar(128)', 'YES', '', None, ''),
 ('actorLink', 'varchar(128)', 'YES', '', None, ''),
 ('character_id', 'varchar(16)', 'YES', '', None, ''),
 ('royal', 'text', 'YES', '', None, ''),
 ('characterImageThumb', 'varchar(512)', 'YES', '', None, ''),
 ('characterImageFull', 'varchar(512)', 'YES', '', None, ''),
 ('nickname', 'varchar(64)', 'YES', '', None, ''),
 ('kingsguard', 'text', 'YES', '', None, '')]

   - Note: The types of columns "royal" and "kingsguard" will be modified in Task 3. The null modification is also addressed in Task 3.

### character_relationships

- There is some serialized JSON in the ```value``` column for ```actor.```


- Also, ```actor``` is redundant and we will need to remove later. It is here because we have to do some additional processing code to better align character relationships with scene information. We know ```character-actor``` mapping but until we factor in scenes, we are not sure which actor if there was more than one.

In [17]:
%%sql
DROP TABLE IF EXISTS W4111GoTSolutionClean.character_relationships;
CREATE TABLE W4111GoTSolutionClean.character_relationships AS SELECT * FROM W4111GoTSolution.character_relationships;

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
0 rows affected.
890 rows affected.

[]

In [18]:
%%sql 
SELECT max(length(character_id)) as character_idMax,
max(length(characterName)) as characterNameMax,
max(length(label)) as labelMax,
max(length(value)) as valueMax
FROM W4111GoTSolutionClean.character_relationships

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
1 rows affected.

[(6, 24, 14, 112)]

In [19]:
%%sql
ALTER TABLE `W4111GoTSolutionClean`.`character_relationships` 
CHANGE COLUMN `character_id` `character_id` VARCHAR(16) NULL DEFAULT NULL ,
CHANGE COLUMN `characterName` `characterName` VARCHAR(64) NULL ,
CHANGE COLUMN `label` `label` VARCHAR(64) NULL DEFAULT NULL ,
CHANGE COLUMN `value` `value` VARCHAR(128) NULL DEFAULT NULL ;

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
890 rows affected.

[]

In [20]:
%sql describe character_relationships

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
5 rows affected.

[('id', 'int', 'YES', '', None, ''),
 ('character_id', 'varchar(16)', 'YES', '', None, ''),
 ('characterName', 'varchar(64)', 'YES', '', None, ''),
 ('label', 'varchar(64)', 'YES', '', None, ''),
 ('value', 'varchar(128)', 'YES', '', None, '')]

### characters_actors

In [21]:
%%sql
DROP TABLE IF EXISTS W4111GoTSolutionClean.characters_actors;
CREATE TABLE W4111GoTSolutionClean.characters_actors AS SELECT * FROM W4111GoTSolution.characters_actors;

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
0 rows affected.
408 rows affected.

[]

In [22]:
%%sql 
SELECT max(length(character_id)) as character_idMax,
max(length(actorName)) as actorNameMax,
max(length(actorLink)) as actorLinkMax,
max(length(season)) as seasonMax
FROM W4111GoTSolutionClean.characters_actors

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
1 rows affected.

[(6, 29, 16, 3)]

In [23]:
%%sql
ALTER TABLE `W4111GoTSolutionClean`.`characters_actors` 
CHANGE COLUMN `character_id` `character_id` VARCHAR(16) NULL DEFAULT NULL ,
CHANGE COLUMN `actorName` `actorName` VARCHAR(128) NULL DEFAULT NULL ,
CHANGE COLUMN `actorLink` `actorLink` VARCHAR(128) NULL DEFAULT NULL ,
CHANGE COLUMN `season` `season` VARCHAR(32) NULL DEFAULT NULL ;

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
408 rows affected.

[]

In [24]:
%sql describe characters_actors

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
5 rows affected.

[('id', 'int', 'YES', '', None, ''),
 ('character_id', 'varchar(16)', 'YES', '', None, ''),
 ('actorName', 'varchar(128)', 'YES', '', None, ''),
 ('actorLink', 'varchar(128)', 'YES', '', None, ''),
 ('season', 'varchar(32)', 'YES', '', None, '')]

### scenes

In [25]:
%%sql
DROP TABLE IF EXISTS W4111GoTSolutionClean.scenes;
CREATE TABLE W4111GoTSolutionClean.scenes AS SELECT * FROM W4111GoTSolution.scenes;

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
0 rows affected.
4165 rows affected.

[]

In [26]:
%%sql 
SELECT max(length(sceneStart)) as sceneStartMax,
max(length(sceneEnd)) as sceneEndMax,
max(length(location)) as locationMax,
max(length(subLocation)) as subLocationMax,
max(length(greensight)) as greensightMax,
max(length(altLocation)) as altLocationMax,
max(length(warg)) as wargMax,
max(length(flashback)) as flashbackMax
FROM W4111GoTSolutionClean.scenes

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
1 rows affected.

[(7, 7, 17, 37, 4, 24, 4, 4)]

In [27]:
%%sql
ALTER TABLE `W4111GoTSolutionClean`.`scenes` 
CHANGE COLUMN `sceneStart` `sceneStart` TIME NULL DEFAULT NULL ,
CHANGE COLUMN `sceneEnd` `sceneEnd` TIME NULL DEFAULT NULL ,
CHANGE COLUMN `location` `location` VARCHAR(64) NULL DEFAULT NULL ,
CHANGE COLUMN `subLocation` `subLocation` VARCHAR(64) NULL DEFAULT NULL ,
CHANGE COLUMN `altLocation` `altLocation` VARCHAR(64) NULL DEFAULT NULL ;

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
4165 rows affected.

[]

In [28]:
%sql describe scenes

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
12 rows affected.

[('id', 'int', 'YES', '', None, ''),
 ('seasonNum', 'int', 'YES', '', None, ''),
 ('episodeNum', 'int', 'YES', '', None, ''),
 ('sceneNo', 'int', 'YES', '', None, ''),
 ('sceneStart', 'time', 'YES', '', None, ''),
 ('sceneEnd', 'time', 'YES', '', None, ''),
 ('location', 'varchar(64)', 'YES', '', None, ''),
 ('subLocation', 'varchar(64)', 'YES', '', None, ''),
 ('greensight', 'text', 'YES', '', None, ''),
 ('altLocation', 'varchar(64)', 'YES', '', None, ''),
 ('warg', 'text', 'YES', '', None, ''),
 ('flashback', 'text', 'YES', '', None, '')]

   - Note: The types of columns "greensight", "warg", and "flashback" will be modified in Task 3. The null modification is also addressed in Task 3.

### scenes_characters

In [9]:
%%sql
DROP TABLE IF EXISTS W4111GoTSolutionClean.scenes_characters;
CREATE TABLE W4111GoTSolutionClean.scenes_characters AS SELECT * FROM W4111GoTSolution.scenes_characters;

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
0 rows affected.
12114 rows affected.

[]

In [10]:
%%sql
SELECT max(length(characterName)) as characterNameMax
FROM W4111GoTSolutionClean.scenes_characters

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
1 rows affected.

[(34,)]

In [11]:
%%sql
ALTER TABLE `W4111GoTSolutionClean`.`scenes_characters` 
CHANGE COLUMN `characterName` `characterName` VARCHAR(64) NULL DEFAULT NULL ;

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
12114 rows affected.

[]

In [12]:
%sql describe scenes_characters

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
5 rows affected.

[('id', 'int', 'YES', '', None, ''),
 ('seasonNum', 'int', 'YES', '', None, ''),
 ('episodeNum', 'int', 'YES', '', None, ''),
 ('sceneNo', 'int', 'YES', '', None, ''),
 ('characterName', 'varchar(64)', 'YES', '', None, '')]

### episodes

In [29]:
%%sql
DROP TABLE IF EXISTS W4111GoTSolutionClean.episdes;
CREATE TABLE W4111GoTSolutionClean.episdes AS SELECT * FROM W4111GoTSolution.episdes;

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
0 rows affected.
73 rows affected.

[]

In [30]:
%%sql 
SELECT max(length(episodeTitle)) as episodeTitleMax,
max(length(episodeLink)) as episodeLinkMax,
max(length(episodeAirDate)) as episodeAirDateMax,
max(length(episodeDescription)) as episodeDescriptionMax
FROM W4111GoTSolutionClean.episdes

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
1 rows affected.

[(37, 17, 10, 238)]

In [31]:
%%sql
ALTER TABLE `W4111GoTSolutionClean`.`episdes` 
CHANGE COLUMN `episodeTitle` `episodeTitle` VARCHAR(64) NOT NULL ,
CHANGE COLUMN `episodeLink` `episodeLink` VARCHAR(128) NOT NULL ,
CHANGE COLUMN `episodeDescription` `episodeDescription` VARCHAR(1024) NOT NULL ;

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
73 rows affected.

[]

In [32]:
%%sql
ALTER TABLE `W4111GoTSolutionClean`.`episdes` 
CHANGE COLUMN `episodeAirDate` `episodeAirDate` DATE NOT NULL ;

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
73 rows affected.

[]

In [33]:
%sql describe episdes

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
7 rows affected.

[('id', 'int', 'YES', '', None, ''),
 ('seasonNum', 'int', 'YES', '', None, ''),
 ('episodeNum', 'int', 'YES', '', None, ''),
 ('episodeTitle', 'varchar(64)', 'NO', '', None, ''),
 ('episodeLink', 'varchar(128)', 'NO', '', None, ''),
 ('episodeAirDate', 'date', 'NO', '', None, ''),
 ('episodeDescription', 'varchar(1024)', 'NO', '', None, '')]

### locations

In [34]:
%%sql
DROP TABLE IF EXISTS W4111GoTSolutionClean.locations;
CREATE TABLE W4111GoTSolutionClean.locations AS SELECT * FROM W4111GoTSolution.locations;

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
0 rows affected.
129 rows affected.

[]

In [35]:
%%sql 
SELECT max(length(location)) as locationMax,
max(length(subLocation)) as subLocationMax
FROM W4111GoTSolutionClean.locations

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
1 rows affected.

[(17, 37)]

In [36]:
%%sql
ALTER TABLE `W4111GoTSolutionClean`.`locations` 
CHANGE COLUMN `location` `location` VARCHAR(64) NULL DEFAULT NULL ,
CHANGE COLUMN `subLocation` `subLocation` VARCHAR(64) NULL DEFAULT NULL ;

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
129 rows affected.

[]

In [37]:
%sql describe locations

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
3 rows affected.

[('id', 'int', 'YES', '', None, ''),
 ('location', 'varchar(64)', 'YES', '', None, ''),
 ('subLocation', 'varchar(64)', 'YES', '', None, '')]

## Task 3

### Keys and Data Integrity

- This is the E-R Model

| <img src="./got_er_model.png"> |
| :---: |
|__GoT ER Model__ |

## Characters


   - Check NULL types

In [38]:
%sql SELECT * FROM characters LIMIT 10;

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
10 rows affected.

[(0, 'Addam Marbrand', '/character/ch0305333/', 'B.J. Hogg', '/name/nm0389698/', 'CH_0', '', '', '', '', ''),
 (1, 'Aegon Targaryen', '', '', '', 'CH_1', 'True', '', '', '', ''),
 (2, 'Aeron Greyjoy', '/character/ch0540081/', 'Michael Feast', '/name/nm0269923/', 'CH_2', '', 'https://images-na.ssl-images-amazon.com/images/M/MV5BNzI5MDg0ZDAtN2Y2ZC00MzU1LTgyYjQtNTBjYjEzODczZDVhXkEyXkFqcGdeQXVyNTg0Nzg4NTE@._V1._SX100_SY140_.jpg', 'https://images-na.ssl-images-amazon.com/images/M/MV5BNzI5MDg0ZDAtN2Y2ZC00MzU1LTgyYjQtNTBjYjEzODczZDVhXkEyXkFqcGdeQXVyNTg0Nzg4NTE@._V1_.jpg', 'Damphair', ''),
 (3, 'Aerys II Targaryen', '/character/ch0541362/', 'David Rintoul', '/name/nm0727778/', 'CH_3', 'True', 'https://images-na.ssl-images-amazon.com/images/M/MV5BMWQzOWViN2ItNDZhOS00MmZlLTkxZTYtZDg5NGUwMGRmYWZjL2ltYWdlL2ltYWdlXkEyXkFqcGdeQXVyMjk3NTUyOTc@._V1._SX100_SY140_.jpg', 'https://images-na.ssl-images-amazon.com/images/M/MV5BMWQzOWViN2ItNDZhOS00MmZlLTkxZTYtZDg5NGUwMGRmYWZjL2ltYWdlL2ltYWdlXkEyXkFqcGdeQXVyMjk3NTUyOTc@._V1_.jpg', 'The Mad King', ''),
 (4, 'Akho', '/character/ch0544520/', 'Chuku Modu', '/name/nm6729880/', 'CH_4', '', 'https://images-na.ssl-images-amazon.com/images/M/MV5BOGE4ZDZmOGUtNGE4Ny00Y2VmLThiOGItMjk3Y2U0ZDY3OWQxXkEyXkFqcGdeQXVyMjk3NTUyOTc@._V1._SX100_SY140_.jpg', 'https://images-na.ssl-images-amazon.com/images/M/MV5BOGE4ZDZmOGUtNGE4Ny00Y2VmLThiOGItMjk3Y2U0ZDY3OWQxXkEyXkFqcGdeQXVyMjk3NTUyOTc@._V1_.jpg', '', ''),
 (5, 'Alliser Thorne', '/character/ch0246938/', 'Owen Teale', '/name/nm0853583/', 'CH_5', '', 'https://images-na.ssl-images-amazon.com/images/M/MV5BMjAxMjExMjA3M15BMl5BanBnXkFtZTcwMjI1ODg5NA@@._V1._SX100_SY140_.jpg', 'https://images-na.ssl-images-amazon.com/images/M/MV5BMjAxMjExMjA3M15BMl5BanBnXkFtZTcwMjI1ODg5NA@@._V1_SY1000_CR0,0,666,1000_AL_.jpg', '', ''),
 (6, 'Alton Lannister', '/character/ch0305012/', 'Karl Davies', '/name/nm0203801/', 'CH_6', '', 'https://images-na.ssl-images-amazon.com/images/M/MV5BMTU0NTU1NTAzOF5BMl5BanBnXkFtZTcwNzA2NDk4OA@@._V1._SX100_SY140_.jpg', 'https://images-na.ssl-images-amazon.com/images/M/MV5BMTU0NTU1NTAzOF5BMl5BanBnXkFtZTcwNzA2NDk4OA@@._V1_.jpg', '', ''),
 (7, 'Alys Karstark', '/character/ch0576836/', 'Megan Parkinson', '/name/nm8257864/', 'CH_7', '', '', '', '', ''),
 (8, 'Amory Lorch', '/character/ch0305002/', 'Fintan McKeown', '/name/nm0571654/', 'CH_8', '', 'https://images-na.ssl-images-amazon.com/images/M/MV5BOTVmY2M2YmUtY2JkYS00NjIyLWFhYTAtNTNlZmI4ODdiNmE5XkEyXkFqcGdeQXVyMjg2MTMyNTM@._V1._SX100_SY140_.jpg', 'https://images-na.ssl-images-amazon.com/images/M/MV5BOTVmY2M2YmUtY2JkYS00NjIyLWFhYTAtNTNlZmI4ODdiNmE5XkEyXkFqcGdeQXVyMjg2MTMyNTM@._V1_.jpg', '', ''),
 (9, 'Anguy', '/character/ch0316930/', 'Philip McGinley', '/name/nm1528121/', 'CH_9', '', 'https://images-na.ssl-images-amazon.com/images/M/MV5BNmRhY2M4YmItNjc2Yi00ZDc0LWE5NmUtNGE5OWE0YTQ2YjY3XkEyXkFqcGdeQXVyMjk3NTUyOTc@._V1._SX100_SY140_.jpg', 'https://images-na.ssl-images-amazon.com/images/M/MV5BNmRhY2M4YmItNjc2Yi00ZDc0LWE5NmUtNGE5OWE0YTQ2YjY3XkEyXkFqcGdeQXVyMjk3NTUyOTc@._V1_.jpg', '', '')]

   - Change NULL types for columns; add primary key

In [39]:
%%sql
ALTER TABLE `W4111GoTSolutionClean`.`characters` 
CHANGE COLUMN `id` `id` INT NOT NULL ,
CHANGE COLUMN `characterName` `characterName` VARCHAR(64) NOT NULL ,
ADD PRIMARY KEY (`id`),
ADD UNIQUE INDEX `character_id_UNIQUE` (`character_id` ASC) VISIBLE;

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
0 rows affected.

[]

In [40]:
%%sql
ALTER TABLE `W4111GoTSolutionClean`.`characters` 
CHANGE COLUMN `character_id` `character_id` VARCHAR(16) NOT NULL ;

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
0 rows affected.

[]

   - Change strings "" to NULL

In [41]:
%sql SELECT * FROM characters WHERE actorName IS NULL;

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
0 rows affected.

[]

In [42]:
%sql SELECT * FROM characters WHERE actorName = "";

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
35 rows affected.

[(1, 'Aegon Targaryen', '', '', '', 'CH_1', 'True', '', '', '', ''),
 (16, 'Baby Sam', '/character/ch0547881/', '', '', 'CH_16', '', '', '', '', ''),
 (21, 'Beric Dondarrion', '/character/ch0305320/', '', '', 'CH_21', '', 'https://images-na.ssl-images-amazon.com/images/M/MV5BMjQwMTEwNTg2MF5BMl5BanBnXkFtZTgwNTAxODYxOTE@._V1._SX100_SY140_.jpg', 'https://images-na.ssl-images-amazon.com/images/M/MV5BMjQwMTEwNTg2MF5BMl5BanBnXkFtZTgwNTAxODYxOTE@._V1_SY1000_CR0,0,665,1000_AL_.jpg', '', ''),
 (28, 'Brandon Stark', '', '', '', 'CH_28', '', '', '', '', ''),
 (43, 'Daario Naharis', '/character/ch0335040/', '', '', 'CH_43', '', 'https://images-na.ssl-images-amazon.com/images/M/MV5BY2ExMDJmNzMtMDVmZi00MDNlLWI1NzYtOTkxOTdlOWU4YzE4XkEyXkFqcGdeQXVyNTcxMzMwNTA@._V1._SX100_SY140_.jpg', 'https://images-na.ssl-images-amazon.com/images/M/MV5BY2ExMDJmNzMtMDVmZi00MDNlLWI1NzYtOTkxOTdlOWU4YzE4XkEyXkFqcGdeQXVyNTcxMzMwNTA@._V1_SY1000_CR0,0,665,1000_AL_.jpg', '', ''),
 (48, 'Dickon Tarly', '/character/ch0541363/', '', '', 'CH_48', '', 'https://images-na.ssl-images-amazon.com/images/M/MV5BNzk1YjNlZGQtNTU0MC00OGZmLThhYTQtZDM1ZjI2OGNlZGQxXkEyXkFqcGdeQXVyMjk3NTUyOTc@._V1._SX100_SY140_.jpg', 'https://images-na.ssl-images-amazon.com/images/M/MV5BNzk1YjNlZGQtNTU0MC00OGZmLThhYTQtZDM1ZjI2OGNlZGQxXkEyXkFqcGdeQXVyMjk3NTUyOTc@._V1_.jpg', '', ''),
 (57, 'Drogon', '', '', '', 'CH_57', '', '', '', '', ''),
 (63, 'Elia Martell', '', '', '', 'CH_63', 'True', '', '', '', ''),
 (72, 'Ghost', '', '', '', 'CH_72', '', '', '', '', ''),
 (79, 'Great Master #1', '/character/ch0525536/', '', '', 'CH_79', '', '', '', '', ''),
 (80, 'Great Master #2', '/character/ch0525536/', '', '', 'CH_80', '', '', '', '', ''),
 (87, 'Gregor Clegane', '/character/ch0245401/', '', '', 'CH_87', '', 'https://images-na.ssl-images-amazon.com/images/M/MV5BMTU3OTg2MTM2MF5BMl5BanBnXkFtZTcwNDk1NzE5OQ@@._V1._SX100_SY140_.jpg', 'https://images-na.ssl-images-amazon.com/images/M/MV5BMTU3OTg2MTM2MF5BMl5BanBnXkFtZTcwNDk1NzE5OQ@@._V1_.jpg', 'The Mountain', ''),
 (90, 'Grey Wind', '', '', '', 'CH_90', '', '', '', '', ''),
 (112, 'Jafer Flowers', '', '', '', 'CH_112', '', '', '', '', ''),
 (150, 'Lady', '', '', '', 'CH_150', '', '', '', '', ''),
 (159, 'Leaf', '/character/ch0467999/', '', '', 'CH_159', '', 'https://images-na.ssl-images-amazon.com/images/M/MV5BYTJjNGJhYmYtNGViMy00NTg3LWI0M2YtNmM3OGI3NzA3MGVjXkEyXkFqcGdeQXVyMjk3NTUyOTc@._V1._SX100_SY140_.jpg', 'https://images-na.ssl-images-amazon.com/images/M/MV5BYTJjNGJhYmYtNGViMy00NTg3LWI0M2YtNmM3OGI3NzA3MGVjXkEyXkFqcGdeQXVyMjk3NTUyOTc@._V1_.jpg', '', ''),
 (179, 'Lothar Frey', '/character/ch0384471/', '', '', 'CH_179', '', 'https://images-na.ssl-images-amazon.com/images/M/MV5BMDc0NDA3YmYtZTNjYi00ZDExLWE2NTUtNzk5NjI3MGI3NzM0XkEyXkFqcGdeQXVyMjk3NTUyOTc@._V1._SX100_SY140_.jpg', 'https://images-na.ssl-images-amazon.com/images/M/MV5BMDc0NDA3YmYtZTNjYi00ZDExLWE2NTUtNzk5NjI3MGI3NzM0XkEyXkFqcGdeQXVyMjk3NTUyOTc@._V1_.jpg', '', ''),
 (229, 'Myrcella Baratheon', '/character/ch0238585/', '', '', 'CH_229', 'True', 'https://images-na.ssl-images-amazon.com/images/M/MV5BMTA4OTA1MTIxMzdeQTJeQWpwZ15BbWU3MDY2NjQ4NTc@._V1._SX100_SY140_.jpg', 'https://images-na.ssl-images-amazon.com/images/M/MV5BMTA4OTA1MTIxMzdeQTJeQWpwZ15BbWU3MDY2NjQ4NTc@._V1_SY1000_CR0,0,665,1000_AL_.jpg', '', ''),
 (242, 'Nymeria', '', '', '', 'CH_242', '', '', '', '', ''),
 (255, 'Othor', '', '', '', 'CH_255', '', '', '', '', ''),
 (272, 'Rattleshirt', '/character/ch0305888/', '', '', 'CH_272', '', 'https://images-na.ssl-images-amazon.com/images/M/MV5BYzk1ZDA3YjktMWZhMi00MTA4LTk0YjItY2ZmMDRlZDY3MmM2XkEyXkFqcGdeQXVyMjk3NTUyOTc@._V1._SX100_SY140_.jpg', 'https://images-na.ssl-images-amazon.com/images/M/MV5BYzk1ZDA3YjktMWZhMi00MTA4LTk0YjItY2ZmMDRlZDY3MmM2XkEyXkFqcGdeQXVyMjk3NTUyOTc@._V1_.jpg', 'Lord of Bones', ''),
 (278, 'Rhaegal', '', '', '', 'CH_278', '', '', '', '', ''),
 (279, 'Rhaegar Targaryen', '', '', '', 'CH_279', 'True', '', '', '', ''),
 (280, 'Rhaego', '', '', '', 'CH_280', '', '', '', '', ''),
 (281, 'Rhaella Targaryen', '', '', '', 'CH_281', 'True', '', '', '', ''),
 (282, 'Rhaenys Targaryen', '', '', '', 'CH_282', 'True', '', '', '', ''),
 (283, 'Rickard Karstark', '/character/ch0305331/', '', '', 'CH_283', '', 'https://images-na.ssl-images-amazon.com/images/M/MV5BM2IwZThkNjQtYzU2NS00ZTRiLWFjNDUtNTdmMGQ2ZmE5M2NmXkEyXkFqcGdeQXVyMjk3NTUyOTc@._V1._SX100_SY140_.jpg', 'https://images-na.ssl-images-amazon.com/images/M/MV5BM2IwZThkNjQtYzU2NS00ZTRiLWFjNDUtNTdmMGQ2ZmE5M2NmXkEyXkFqcGdeQXVyMjk3NTUyOTc@._V1_.jpg', '', ''),
 (284, 'Rickard Stark', '', '', '', 'CH_284', '', '', '', '', ''),
 (301, 'Selyse Baratheon', '/character/ch0316924/', '', '', 'CH_301', '', 'https://images-na.ssl-images-amazon.com/images/M/MV5BZGZjNDA5YWUtZjE5OC00NGE2LWI3Y2UtOTQ1Yjg1MDc3MTk4L2ltYWdlXkEyXkFqcGdeQXVyMjk3NTUyOTc@._V1._SX100_SY140_.jpg', 'https://images-na.ssl-images-amazon.com/images/M/MV5BZGZjNDA5YWUtZjE5OC00NGE2LWI3Y2UtOTQ1Yjg1MDc3MTk4L2ltYWdlXkEyXkFqcGdeQXVyMjk3NTUyOTc@._V1_.jpg', '', ''),
 (311, 'Shaggydog', '', '', '', 'CH_311', '', '', '', '', ''),
 (326, 'Summer', '', '', '', 'CH_326', '', '', '', '', ''),
 (332, 'The Night King', '/character/ch0512154/', '', '', 'CH_332', '', 'https://images-na.ssl-images-amazon.com/images/M/MV5BY2ZjNmYyMjAtNGUwYi00N2JmLWEyMTYtMDM5YmM2MWFhMWFiXkEyXkFqcGdeQXVyNDUzOTQ5MjY@._V1._SX100_SY140_.jpg', 'https://images-na.ssl-images-amazon.com/images/M/MV5BY2ZjNmYyMjAtNGUwYi00N2JmLWEyMTYtMDM5YmM2MWFhMWFiXkEyXkFqcGdeQXVyNDUzOTQ5MjY@._V1_.jpg', '', ''),
 (339, 'Three-Eyed Raven', '/character/ch0414457/', '', '', 'CH_339', '', 'https://images-na.ssl-images-amazon.com/images/M/MV5BOGI4NGRiNTUtM2ZlYy00ZjhlLWJlYWItMjgzNWIzYWQwZWY0XkEyXkFqcGdeQXVyMjk3NTUyOTc@._V1._SX100_SY140_.jpg', 'https://images-na.ssl-images-amazon.com/images/M/MV5BOGI4NGRiNTUtM2ZlYy00ZjhlLWJlYWItMjgzNWIzYWQwZWY0XkEyXkFqcGdeQXVyMjk3NTUyOTc@._V1_.jpg', '', ''),
 (344, 'Tommen Baratheon', '/character/ch0256424/', '', '', 'CH_344', 'True', 'https://images-na.ssl-images-amazon.com/images/M/MV5BOTY1YWUxM2QtZjhmZC00ZmQ2LThkM2YtNTk2MmQ5OTk3NGMyXkEyXkFqcGdeQXVyMjk3NTUyOTc@._V1._SX100_SY140_.jpg', 'https://images-na.ssl-images-amazon.com/images/M/MV5BOTY1YWUxM2QtZjhmZC00ZmQ2LThkM2YtNTk2MmQ5OTk3NGMyXkEyXkFqcGdeQXVyMjk3NTUyOTc@._V1_.jpg', '', ''),
 (354, 'Viserion', '', '', '', 'CH_354', '', '', '', '', '')]

In [43]:
%sql UPDATE characters SET actorName = NULL WHERE actorName = "";

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
35 rows affected.

[]

In [44]:
%%sql 
UPDATE characters SET characterLink = NULL WHERE characterLink = "";
UPDATE characters SET actorLink = NULL WHERE actorLink = "";
UPDATE characters SET characterImageThumb = NULL WHERE characterImageThumb = "";
UPDATE characters SET characterImageFull = NULL WHERE characterImageFull = "";
UPDATE characters SET nickname = NULL WHERE nickname = "";

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
21 rows affected.
36 rows affected.
134 rows affected.
134 rows affected.
380 rows affected.

[]

   - Change Strings "True" and "" to Boolean 1 and 0

In [45]:
%%sql 
UPDATE characters SET royal = 1 WHERE royal = "True";
UPDATE characters SET royal = 0 WHERE royal = "";

UPDATE characters SET kingsguard = 1 WHERE kingsguard = "True";
UPDATE characters SET kingsguard = 0 WHERE kingsguard = "";

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
17 rows affected.
372 rows affected.
5 rows affected.
384 rows affected.

[]

   - Change column type to Boolean(Tinyint)

In [46]:
%%sql
ALTER TABLE `W4111GoTSolutionClean`.`characters` 
CHANGE COLUMN `royal` `royal` TINYINT NOT NULL DEFAULT 0 ,
CHANGE COLUMN `kingsguard` `kingsguard` TINYINT NOT NULL DEFAULT 0 ;

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
389 rows affected.

[]

   - Table characters cleaned

In [47]:
%sql describe characters;

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
11 rows affected.

[('id', 'int', 'NO', 'PRI', None, ''),
 ('characterName', 'varchar(64)', 'NO', '', None, ''),
 ('characterLink', 'varchar(128)', 'YES', '', None, ''),
 ('actorName', 'varchar(128)', 'YES', '', None, ''),
 ('actorLink', 'varchar(128)', 'YES', '', None, ''),
 ('character_id', 'varchar(16)', 'NO', 'UNI', None, ''),
 ('royal', 'tinyint', 'NO', '', '0', ''),
 ('characterImageThumb', 'varchar(512)', 'YES', '', None, ''),
 ('characterImageFull', 'varchar(512)', 'YES', '', None, ''),
 ('nickname', 'varchar(64)', 'YES', '', None, ''),
 ('kingsguard', 'tinyint', 'NO', '', '0', '')]

## Scenes

In [48]:
%sql SELECT * FROM scenes LIMIT 20;

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
20 rows affected.

[(0, 1, 1, 1, datetime.timedelta(seconds=40), datetime.timedelta(seconds=105), 'The Wall', 'Castle Black', '', '', '', ''),
 (1, 1, 1, 2, datetime.timedelta(seconds=105), datetime.timedelta(seconds=204), 'North of the Wall', 'The Haunted Forest', '', '', '', ''),
 (2, 1, 1, 3, datetime.timedelta(seconds=204), datetime.timedelta(seconds=211), 'North of the Wall', 'The Haunted Forest', '', '', '', ''),
 (3, 1, 1, 4, datetime.timedelta(seconds=211), datetime.timedelta(seconds=218), 'North of the Wall', 'The Haunted Forest', '', '', '', ''),
 (4, 1, 1, 5, datetime.timedelta(seconds=218), datetime.timedelta(seconds=224), 'North of the Wall', 'The Haunted Forest', '', '', '', ''),
 (5, 1, 1, 6, datetime.timedelta(seconds=224), datetime.timedelta(seconds=336), 'North of the Wall', 'The Haunted Forest', '', '', '', ''),
 (6, 1, 1, 7, datetime.timedelta(seconds=336), datetime.timedelta(seconds=341), 'North of the Wall', 'The Haunted Forest', '', '', '', ''),
 (7, 1, 1, 8, datetime.timedelta(seconds=341), datetime.timedelta(seconds=348), 'North of the Wall', 'The Haunted Forest', '', '', '', ''),
 (8, 1, 1, 9, datetime.timedelta(seconds=348), datetime.timedelta(seconds=358), 'North of the Wall', 'The Haunted Forest', '', '', '', ''),
 (9, 1, 1, 10, datetime.timedelta(seconds=358), datetime.timedelta(seconds=381), 'North of the Wall', 'The Haunted Forest', '', '', '', ''),
 (10, 1, 1, 11, datetime.timedelta(seconds=381), datetime.timedelta(seconds=399), 'North of the Wall', 'The Haunted Forest', '', '', '', ''),
 (11, 1, 1, 12, datetime.timedelta(seconds=399), datetime.timedelta(seconds=409), 'North of the Wall', 'The Haunted Forest', '', '', '', ''),
 (12, 1, 1, 13, datetime.timedelta(seconds=409), datetime.timedelta(seconds=465), 'North of the Wall', 'The Haunted Forest', '', '', '', ''),
 (13, 1, 1, 14, datetime.timedelta(seconds=567), datetime.timedelta(seconds=758), 'The North', 'Winterfell', '', '', '', ''),
 (14, 1, 1, 15, datetime.timedelta(seconds=758), datetime.timedelta(seconds=941), 'The North', 'Outside Winterfell', '', '', '', ''),
 (15, 1, 1, 16, datetime.timedelta(seconds=941), datetime.timedelta(seconds=1124), 'The North', 'Outside Winterfell', '', '', '', ''),
 (16, 1, 1, 17, datetime.timedelta(seconds=1124), datetime.timedelta(seconds=1245), 'The Crownlands', "King's Landing", '', '', '', ''),
 (17, 1, 1, 18, datetime.timedelta(seconds=1245), datetime.timedelta(seconds=1363), 'The North', 'Winterfell', '', '', '', ''),
 (18, 1, 1, 19, datetime.timedelta(seconds=1363), datetime.timedelta(seconds=1389), 'The North', 'Winterfell', '', '', '', ''),
 (19, 1, 1, 20, datetime.timedelta(seconds=1389), datetime.timedelta(seconds=1419), 'The North', 'Winterfell', '', '', '', '')]

   - Check Null, but there is no "null" entry.

In [49]:
%%sql 
SELECT * FROM scenes WHERE location IS NULL;
SELECT * FROM scenes WHERE subLocation IS NULL;

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
0 rows affected.
0 rows affected.

[]

   - Check empty string "" which is the same as "null".

In [50]:
%sql SELECT * FROM scenes WHERE location = "";

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
0 rows affected.

[]

In [51]:
%sql SELECT * FROM scenes WHERE subLocation = "";

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
495 rows affected.

[(24, 1, 1, 25, datetime.timedelta(seconds=2025), datetime.timedelta(seconds=2177), 'Pentos', '', '', '', '', ''),
 (25, 1, 1, 26, datetime.timedelta(seconds=2177), datetime.timedelta(seconds=2303), 'Pentos', '', '', '', '', ''),
 (26, 1, 1, 27, datetime.timedelta(seconds=2303), datetime.timedelta(seconds=2405), 'Pentos', '', '', '', '', ''),
 (32, 1, 1, 33, datetime.timedelta(seconds=3029), datetime.timedelta(seconds=3365), 'Pentos', '', '', '', '', ''),
 (33, 1, 1, 34, datetime.timedelta(seconds=3365), datetime.timedelta(seconds=3468), 'Pentos', '', '', '', '', ''),
 (36, 1, 2, 1, datetime.timedelta(seconds=142), datetime.timedelta(seconds=328), 'The Dothraki Sea', '', '', '', '', ''),
 (83, 1, 3, 17, datetime.timedelta(seconds=2079), datetime.timedelta(seconds=2297), 'The Dothraki Sea', '', '', '', '', ''),
 (97, 1, 4, 6, datetime.timedelta(seconds=611), datetime.timedelta(seconds=681), 'Vaes Dothrak', '', '', '', '', ''),
 (98, 1, 4, 7, datetime.timedelta(seconds=681), datetime.timedelta(seconds=737), 'Vaes Dothrak', '', '', '', '', ''),
 (99, 1, 4, 8, datetime.timedelta(seconds=737), datetime.timedelta(seconds=1030), 'Vaes Dothrak', '', '', '', '', ''),
 (114, 1, 4, 23, datetime.timedelta(seconds=2232), datetime.timedelta(seconds=2313), 'Vaes Dothrak', '', '', '', '', ''),
 (116, 1, 4, 25, datetime.timedelta(seconds=2672), datetime.timedelta(seconds=2738), 'Vaes Dothrak', '', '', '', '', ''),
 (149, 1, 6, 2, datetime.timedelta(seconds=382), datetime.timedelta(seconds=470), 'Vaes Dothrak', '', '', '', '', ''),
 (156, 1, 6, 9, datetime.timedelta(seconds=968), datetime.timedelta(seconds=1179), 'Vaes Dothrak', '', '', '', '', ''),
 (157, 1, 6, 10, datetime.timedelta(seconds=1179), datetime.timedelta(seconds=1314), 'Vaes Dothrak', '', '', '', '', ''),
 (166, 1, 6, 19, datetime.timedelta(seconds=2805), datetime.timedelta(seconds=3090), 'Vaes Dothrak', '', '', '', '', ''),
 (176, 1, 7, 10, datetime.timedelta(seconds=1605), datetime.timedelta(seconds=1688), 'Vaes Dothrak', '', '', '', '', ''),
 (177, 1, 7, 11, datetime.timedelta(seconds=1688), datetime.timedelta(seconds=1752), 'Vaes Dothrak', '', '', '', '', ''),
 (178, 1, 7, 12, datetime.timedelta(seconds=1752), datetime.timedelta(seconds=1785), 'Vaes Dothrak', '', '', '', '', ''),
 (179, 1, 7, 13, datetime.timedelta(seconds=1785), datetime.timedelta(seconds=1976), 'Vaes Dothrak', '', '', '', '', ''),
 (186, 1, 7, 20, datetime.timedelta(seconds=2877), datetime.timedelta(seconds=3096), 'Vaes Dothrak', '', '', '', '', ''),
 (187, 1, 7, 21, datetime.timedelta(seconds=3096), datetime.timedelta(seconds=3117), 'Vaes Dothrak', '', '', '', '', ''),
 (243, 1, 9, 15, datetime.timedelta(seconds=1661), datetime.timedelta(seconds=2126), 'The Red Waste', '', '', '', '', ''),
 (268, 1, 10, 15, datetime.timedelta(seconds=1357), datetime.timedelta(seconds=1470), 'The Red Waste', '', '', '', '', ''),
 (269, 1, 10, 16, datetime.timedelta(seconds=1470), datetime.timedelta(seconds=1567), 'The Red Waste', '', '', '', '', ''),
 (270, 1, 10, 17, datetime.timedelta(seconds=1567), datetime.timedelta(seconds=1651), 'The Red Waste', '', '', '', '', ''),
 (274, 1, 10, 21, datetime.timedelta(seconds=1915), datetime.timedelta(seconds=1982), 'The Red Waste', '', '', '', '', ''),
 (275, 1, 10, 22, datetime.timedelta(seconds=1982), datetime.timedelta(seconds=2068), 'The Red Waste', '', '', '', '', ''),
 (284, 1, 10, 31, datetime.timedelta(seconds=2746), datetime.timedelta(seconds=3009), 'The Red Waste', '', '', '', '', ''),
 (285, 1, 10, 32, datetime.timedelta(seconds=3009), datetime.timedelta(seconds=3117), 'The Red Waste', '', '', '', '', ''),
 (295, 2, 1, 10, datetime.timedelta(seconds=890), datetime.timedelta(seconds=1075), 'The Red Waste', '', '', '', '', ''),
 (296, 2, 1, 11, datetime.timedelta(seconds=1075), datetime.timedelta(seconds=1128), 'The Red Waste', '', '', '', '', ''),
 (325, 2, 2, 10, datetime.timedelta(seconds=880), datetime.timedelta(seconds=1051), 'The Red Waste', '', '', '', '', ''),
 (326, 2, 2, 11, datetime.timedelta(seconds=1051), datetime.timedelta(seconds=1074), 'The Sunset Sea', '', '', '', '', ''),
 (327, 2, 2, 12, datetime.timedelta(seconds=1074), datetime.timedelta(seconds=1193), 'The Sunset Sea', '', '', '', '', ''),
 (394, 2, 4, 18, datetime.timedelta(seconds=1117), datetime.timedelta(seconds=1182), 'The Red Waste', '', '', '', '', ''),
 (403, 2, 4, 27, datetime.timedelta(seconds=1920), datetime.timedelta(seconds=2247), 'Qarth', '', '', '', '', ''),
 (431, 2, 5, 22, datetime.timedelta(seconds=1876), datetime.timedelta(seconds=1914), 'Qarth', '', '', '', '', ''),
 (432, 2, 5, 23, datetime.timedelta(seconds=1914), datetime.timedelta(seconds=1996), 'Qarth', '', '', '', '', ''),
 (433, 2, 5, 24, datetime.timedelta(seconds=1996), datetime.timedelta(seconds=2024), 'Qarth', '', '', '', '', ''),
 (434, 2, 5, 25, datetime.timedelta(seconds=2024), datetime.timedelta(seconds=2069), 'Qarth', '', '', '', '', ''),
 (435, 2, 5, 26, datetime.timedelta(seconds=2069), datetime.timedelta(seconds=2080), 'Qarth', '', '', '', '', ''),
 (436, 2, 5, 27, datetime.timedelta(seconds=2080), datetime.timedelta(seconds=2161), 'Qarth', '', '', '', '', ''),
 (437, 2, 5, 28, datetime.timedelta(seconds=2161), datetime.timedelta(seconds=2185), 'Qarth', '', '', '', '', ''),
 (438, 2, 5, 29, datetime.timedelta(seconds=2185), datetime.timedelta(seconds=2208), 'Qarth', '', '', '', '', ''),
 (444, 2, 5, 35, datetime.timedelta(seconds=2771), datetime.timedelta(seconds=2853), 'Qarth', '', '', '', '', ''),
 (445, 2, 5, 36, datetime.timedelta(seconds=2853), datetime.timedelta(seconds=2944), 'Qarth', '', '', '', '', ''),
 (446, 2, 5, 37, datetime.timedelta(seconds=2944), datetime.timedelta(seconds=3095), 'Qarth', '', '', '', '', ''),
 (474, 2, 6, 27, datetime.timedelta(seconds=1783), datetime.timedelta(seconds=1823), 'Qarth', '', '', '', '', ''),
 (475, 2, 6, 28, datetime.timedelta(seconds=1823), datetime.timedelta(seconds=2063), 'Qarth', '', '', '', '', ''),
 (492, 2, 6, 45, datetime.timedelta(seconds=3043), datetime.timedelta(seconds=3093), 'Qarth', '', '', '', '', ''),
 (493, 2, 6, 46, datetime.timedelta(seconds=3093), datetime.timedelta(seconds=3137), 'Qarth', '', '', '', '', ''),
 (494, 2, 6, 47, datetime.timedelta(seconds=3137), datetime.timedelta(seconds=3157), 'Qarth', '', '', '', '', ''),
 (504, 2, 7, 10, datetime.timedelta(seconds=960), datetime.timedelta(seconds=1015), 'Qarth', '', '', '', '', ''),
 (511, 2, 7, 17, datetime.timedelta(seconds=1397), datetime.timedelta(seconds=1544), 'Qarth', '', '', '', '', ''),
 (522, 2, 7, 28, datetime.timedelta(seconds=2364), datetime.timedelta(seconds=2450), 'Qarth', '', '', '', '', ''),
 (523, 2, 7, 29, datetime.timedelta(seconds=2450), datetime.timedelta(seconds=2585), 'Qarth', '', '', '', '', ''),
 (524, 2, 7, 30, datetime.timedelta(seconds=2585), datetime.timedelta(seconds=2613), 'Qarth', '', '', '', '', ''),
 (569, 2, 8, 37, datetime.timedelta(seconds=2895), datetime.timedelta(seconds=2917), 'Qarth', '', '', '', '', ''),
 (570, 2, 8, 38, datetime.timedelta(seconds=2917), datetime.timedelta(seconds=3002), 'Qarth', '', '', '', '', ''),
 (726, 2, 10, 18, datetime.timedelta(seconds=2063), datetime.timedelta(seconds=2126), 'Qarth', '', '', '', '', ''),
 (727, 2, 10, 19, datetime.timedelta(seconds=2126), datetime.timedelta(seconds=2141), 'Qarth', '', '', '', '', ''),
 (728, 2, 10, 20, datetime.timedelta(seconds=2141), datetime.timedelta(seconds=2164), 'Qarth', '', '', '', '', ''),
 (729, 2, 10, 21, datetime.timedelta(seconds=2164), datetime.timedelta(seconds=2191), 'Qarth', '', '', '', '', ''),
 (738, 2, 10, 30, datetime.timedelta(seconds=2615), datetime.timedelta(seconds=2668), 'Qarth', '', '', '', '', ''),
 (742, 2, 10, 34, datetime.timedelta(seconds=2971), datetime.timedelta(seconds=3107), 'Qarth', '', '', '', '', ''),
 (745, 2, 10, 37, datetime.timedelta(seconds=3331), datetime.timedelta(seconds=3365), 'Qarth', '', '', '', '', ''),
 (746, 2, 10, 38, datetime.timedelta(seconds=3365), datetime.timedelta(seconds=3428), 'Qarth', '', '', '', '', ''),
 (747, 2, 10, 39, datetime.timedelta(seconds=3428), datetime.timedelta(seconds=3440), 'Qarth', '', '', '', '', ''),
 (748, 2, 10, 40, datetime.timedelta(seconds=3440), datetime.timedelta(seconds=3473), 'Qarth', '', '', '', '', ''),
 (749, 2, 10, 41, datetime.timedelta(seconds=3473), datetime.timedelta(seconds=3491), 'Qarth', '', '', '', '', ''),
 (786, 3, 1, 33, datetime.timedelta(seconds=2123), datetime.timedelta(seconds=2148), 'The Summer Sea', '', '', '', '', ''),
 (787, 3, 1, 34, datetime.timedelta(seconds=2148), datetime.timedelta(seconds=2173), 'The Summer Sea', '', '', '', '', ''),
 (788, 3, 1, 35, datetime.timedelta(seconds=2173), datetime.timedelta(seconds=2232), 'The Summer Sea', '', '', '', '', ''),
 (801, 3, 1, 48, datetime.timedelta(seconds=2764), datetime.timedelta(seconds=3009), 'Astapor', '', '', '', '', ''),
 (802, 3, 1, 49, datetime.timedelta(seconds=3009), datetime.timedelta(seconds=3117), 'Astapor', '', '', '', '', ''),
 (803, 3, 1, 50, datetime.timedelta(seconds=3117), datetime.timedelta(seconds=3186), 'Astapor', '', '', '', '', ''),
 (873, 3, 3, 21, datetime.timedelta(seconds=1705), datetime.timedelta(seconds=1762), 'Astapor', '', '', '', '', ''),
 (874, 3, 3, 22, datetime.timedelta(seconds=1762), datetime.timedelta(seconds=1852), 'Astapor', '', '', '', '', ''),
 (875, 3, 3, 23, datetime.timedelta(seconds=1852), datetime.timedelta(seconds=2028), 'Astapor', '', '', '', '', ''),
 (876, 3, 3, 24, datetime.timedelta(seconds=2028), datetime.timedelta(seconds=2050), 'Astapor', '', '', '', '', ''),
 (877, 3, 3, 25, datetime.timedelta(seconds=2050), datetime.timedelta(seconds=2063), 'Astapor', '', '', '', '', ''),
 (878, 3, 3, 26, datetime.timedelta(seconds=2063), datetime.timedelta(seconds=2080), 'Astapor', '', '', '', '', ''),
 (879, 3, 3, 27, datetime.timedelta(seconds=2080), datetime.timedelta(seconds=2115), 'Astapor', '', '', '', '', ''),
 (936, 3, 4, 42, datetime.timedelta(seconds=2731), datetime.timedelta(seconds=2800), 'Astapor', '', '', '', '', ''),
 (937, 3, 4, 43, datetime.timedelta(seconds=2800), datetime.timedelta(seconds=2946), 'Astapor', '', '', '', '', ''),
 (938, 3, 4, 44, datetime.timedelta(seconds=2946), datetime.timedelta(seconds=2963), 'Astapor', '', '', '', '', ''),
 (939, 3, 4, 45, datetime.timedelta(seconds=2963), datetime.timedelta(seconds=2970), 'Astapor', '', '', '', '', ''),
 (940, 3, 4, 46, datetime.timedelta(seconds=2970), datetime.timedelta(seconds=3001), 'Astapor', '', '', '', '', ''),
 (941, 3, 4, 47, datetime.timedelta(seconds=3001), datetime.timedelta(seconds=3013), 'Astapor', '', '', '', '', ''),
 (942, 3, 4, 48, datetime.timedelta(seconds=3013), datetime.timedelta(seconds=3084), 'Astapor', '', '', '', '', ''),
 (943, 3, 4, 49, datetime.timedelta(seconds=3084), datetime.timedelta(seconds=3103), 'Astapor', '', '', '', '', ''),
 (944, 3, 4, 50, datetime.timedelta(seconds=3103), datetime.timedelta(seconds=3121), 'Astapor', '', '', '', '', ''),
 (1136, 3, 9, 31, datetime.timedelta(seconds=1627), datetime.timedelta(seconds=1637), 'Yunkai', '', '', '', '', ''),
 (1137, 3, 9, 32, datetime.timedelta(seconds=1637), datetime.timedelta(seconds=1650), 'Yunkai', '', '', '', '', ''),
 (1138, 3, 9, 33, datetime.timedelta(seconds=1650), datetime.timedelta(seconds=1657), 'Yunkai', '', '', '', '', ''),
 (1139, 3, 9, 34, datetime.timedelta(seconds=1657), datetime.timedelta(seconds=1680), 'Yunkai', '', '', '', '', ''),
 (1140, 3, 9, 35, datetime.timedelta(seconds=1680), datetime.timedelta(seconds=1749), 'Yunkai', '', '', '', '', ''),
 (1146, 3, 9, 41, datetime.timedelta(seconds=2125), datetime.timedelta(seconds=2140), 'Yunkai', '', '', '', '', ''),
 (1147, 3, 9, 42, datetime.timedelta(seconds=2140), datetime.timedelta(seconds=2174), 'Yunkai', '', '', '', '', ''),
 (1148, 3, 9, 43, datetime.timedelta(seconds=2174), datetime.timedelta(seconds=2195), 'Yunkai', '', '', '', '', ''),
 (1219, 3, 10, 43, datetime.timedelta(seconds=3400), datetime.timedelta(seconds=3567), 'Yunkai', '', '', '', '', ''),
 (1220, 3, 10, 44, datetime.timedelta(seconds=3567), datetime.timedelta(seconds=3599), 'Yunkai', '', '', '', '', ''),
 (1221, 3, 10, 45, datetime.timedelta(seconds=3599), datetime.timedelta(seconds=3667), 'Yunkai', '', '', '', '', ''),
 (1222, 3, 10, 46, datetime.timedelta(seconds=3667), datetime.timedelta(seconds=3670), 'Yunkai', '', '', '', '', ''),
 (1223, 3, 10, 47, datetime.timedelta(seconds=3670), datetime.timedelta(seconds=3680), 'Yunkai', '', '', '', '', ''),
 (1406, 4, 3, 45, datetime.timedelta(seconds=2887), datetime.timedelta(seconds=2911), 'Meereen', '', '', '', '', ''),
 (1407, 4, 3, 46, datetime.timedelta(seconds=2911), datetime.timedelta(seconds=2934), 'Meereen', '', '', '', '', ''),
 (1408, 4, 3, 47, datetime.timedelta(seconds=2934), datetime.timedelta(seconds=2973), 'Meereen', '', '', '', '', ''),
 (1409, 4, 3, 48, datetime.timedelta(seconds=2973), datetime.timedelta(seconds=2996), 'Meereen', '', '', '', '', ''),
 (1410, 4, 3, 49, datetime.timedelta(seconds=2996), datetime.timedelta(seconds=2999), 'Meereen', '', '', '', '', ''),
 (1411, 4, 3, 50, datetime.timedelta(seconds=2999), datetime.timedelta(seconds=3023), 'Meereen', '', '', '', '', ''),
 (1412, 4, 3, 51, datetime.timedelta(seconds=3023), datetime.timedelta(seconds=3096), 'Meereen', '', '', '', '', ''),
 (1413, 4, 3, 52, datetime.timedelta(seconds=3096), datetime.timedelta(seconds=3113), 'Meereen', '', '', '', '', ''),
 (1414, 4, 3, 53, datetime.timedelta(seconds=3113), datetime.timedelta(seconds=3155), 'Meereen', '', '', '', '', ''),
 (1415, 4, 3, 54, datetime.timedelta(seconds=3155), datetime.timedelta(seconds=3161), 'Meereen', '', '', '', '', ''),
 (1416, 4, 3, 55, datetime.timedelta(seconds=3161), datetime.timedelta(seconds=3330), 'Meereen', '', '', '', '', ''),
 (1417, 4, 4, 1, datetime.timedelta(seconds=114), datetime.timedelta(seconds=228), 'Meereen', '', '', '', '', ''),
 (1418, 4, 4, 2, datetime.timedelta(seconds=228), datetime.timedelta(seconds=251), 'Meereen', '', '', '', '', ''),
 (1419, 4, 4, 3, datetime.timedelta(seconds=251), datetime.timedelta(seconds=258), 'Meereen', '', '', '', '', ''),
 (1420, 4, 4, 4, datetime.timedelta(seconds=258), datetime.timedelta(seconds=312), 'Meereen', '', '', '', '', ''),
 (1421, 4, 4, 5, datetime.timedelta(seconds=312), datetime.timedelta(seconds=345), 'Meereen', '', '', '', '', ''),
 (1422, 4, 4, 6, datetime.timedelta(seconds=345), datetime.timedelta(seconds=426), 'Meereen', '', '', '', '', ''),
 (1423, 4, 4, 7, datetime.timedelta(seconds=426), datetime.timedelta(seconds=472), 'Meereen', '', '', '', '', ''),
 (1424, 4, 4, 8, datetime.timedelta(seconds=472), datetime.timedelta(seconds=536), 'Meereen', '', '', '', '', ''),
 (1425, 4, 4, 9, datetime.timedelta(seconds=536), datetime.timedelta(seconds=550), 'Meereen', '', '', '', '', ''),
 (1426, 4, 4, 10, datetime.timedelta(seconds=550), datetime.timedelta(seconds=569), 'Meereen', '', '', '', '', ''),
 (1427, 4, 4, 11, datetime.timedelta(seconds=569), datetime.timedelta(seconds=591), 'Meereen', '', '', '', '', ''),
 (1428, 4, 4, 12, datetime.timedelta(seconds=591), datetime.timedelta(seconds=609), 'Meereen', '', '', '', '', ''),
 (1471, 4, 5, 11, datetime.timedelta(seconds=400), datetime.timedelta(seconds=521), 'Meereen', '', '', '', '', ''),
 (1472, 4, 5, 12, datetime.timedelta(seconds=521), datetime.timedelta(seconds=619), 'Meereen', '', '', '', '', ''),
 (1511, 4, 6, 1, datetime.timedelta(seconds=114), datetime.timedelta(seconds=161), 'Braavos', '', '', '', '', ''),
 (1512, 4, 6, 2, datetime.timedelta(seconds=161), datetime.timedelta(seconds=206), 'Braavos', '', '', '', '', ''),
 (1513, 4, 6, 3, datetime.timedelta(seconds=206), datetime.timedelta(seconds=469), 'Braavos', '', '', '', '', ''),
 (1514, 4, 6, 4, datetime.timedelta(seconds=469), datetime.timedelta(seconds=495), 'Braavos', '', '', '', '', ''),
 (1515, 4, 6, 5, datetime.timedelta(seconds=495), datetime.timedelta(seconds=614), 'Braavos', '', '', '', '', ''),
 (1531, 4, 6, 21, datetime.timedelta(seconds=1188), datetime.timedelta(seconds=1292), 'Meereen', '', '', '', '', ''),
 (1532, 4, 6, 22, datetime.timedelta(seconds=1292), datetime.timedelta(seconds=1479), 'Meereen', '', '', '', '', ''),
 (1533, 4, 6, 23, datetime.timedelta(seconds=1479), datetime.timedelta(seconds=1499), 'Meereen', '', '', '', '', ''),
 (1560, 4, 7, 12, datetime.timedelta(seconds=1087), datetime.timedelta(seconds=1243), 'Meereen', '', '', '', '', ''),
 (1562, 4, 7, 14, datetime.timedelta(seconds=1480), datetime.timedelta(seconds=1500), 'Meereen', '', '', '', '', ''),
 (1563, 4, 7, 15, datetime.timedelta(seconds=1500), datetime.timedelta(seconds=1676), 'Meereen', '', '', '', '', ''),
 (1581, 4, 8, 6, datetime.timedelta(seconds=523), datetime.timedelta(seconds=577), 'Meereen', '', '', '', '', ''),
 (1582, 4, 8, 7, datetime.timedelta(seconds=577), datetime.timedelta(seconds=644), 'Meereen', '', '', '', '', ''),
 (1583, 4, 8, 8, datetime.timedelta(seconds=644), datetime.timedelta(seconds=806), 'Meereen', '', '', '', '', ''),
 (1592, 4, 8, 17, datetime.timedelta(seconds=1631), datetime.timedelta(seconds=1676), 'Meereen', '', '', '', '', ''),
 (1593, 4, 8, 18, datetime.timedelta(seconds=1676), datetime.timedelta(seconds=1770), 'Meereen', '', '', '', '', ''),
 (1594, 4, 8, 19, datetime.timedelta(seconds=1770), datetime.timedelta(seconds=1961), 'Meereen', '', '', '', '', ''),
 (1595, 4, 8, 20, datetime.timedelta(seconds=1961), datetime.timedelta(seconds=1984), 'Meereen', '', '', '', '', ''),
 (1709, 4, 10, 14, datetime.timedelta(seconds=1263), datetime.timedelta(seconds=1432), 'Meereen', '', '', '', '', ''),
 (1710, 4, 10, 15, datetime.timedelta(seconds=1432), datetime.timedelta(seconds=1444), 'Meereen', '', '', '', '', ''),
 (1711, 4, 10, 16, datetime.timedelta(seconds=1444), datetime.timedelta(seconds=1511), 'Meereen', '', '', '', '', ''),
 (1712, 4, 10, 17, datetime.timedelta(seconds=1511), datetime.timedelta(seconds=1541), 'Meereen', '', '', '', '', ''),
 (1713, 4, 10, 18, datetime.timedelta(seconds=1514), datetime.timedelta(seconds=1686), 'Meereen', '', '', '', '', ''),
 (1745, 5, 1, 5, datetime.timedelta(seconds=775), datetime.timedelta(seconds=810), 'Pentos', '', '', '', '', ''),
 (1746, 5, 1, 6, datetime.timedelta(seconds=810), datetime.timedelta(seconds=986), 'Pentos', '', '', '', '', ''),
 (1747, 5, 1, 7, datetime.timedelta(seconds=986), datetime.timedelta(seconds=1033), 'Meereen', '', '', '', '', ''),
 (1748, 5, 1, 8, datetime.timedelta(seconds=1033), datetime.timedelta(seconds=1040), 'Meereen', '', '', '', '', ''),
 (1749, 5, 1, 9, datetime.timedelta(seconds=1040), datetime.timedelta(seconds=1159), 'Meereen', '', '', '', '', ''),
 (1750, 5, 1, 10, datetime.timedelta(seconds=1159), datetime.timedelta(seconds=1218), 'Meereen', '', '', '', '', ''),
 (1751, 5, 1, 11, datetime.timedelta(seconds=1218), datetime.timedelta(seconds=1293), 'Meereen', '', '', '', '', ''),
 (1770, 5, 1, 30, datetime.timedelta(seconds=2159), datetime.timedelta(seconds=2164), 'Pentos', '', '', '', '', ''),
 (1771, 5, 1, 31, datetime.timedelta(seconds=2164), datetime.timedelta(seconds=2354), 'Pentos', '', '', '', '', ''),
 (1772, 5, 1, 32, datetime.timedelta(seconds=2354), datetime.timedelta(seconds=2372), 'Meereen', '', '', '', '', ''),
 (1773, 5, 1, 33, datetime.timedelta(seconds=2372), datetime.timedelta(seconds=2444), 'Meereen', '', '', '', '', ''),
 (1774, 5, 1, 34, datetime.timedelta(seconds=2444), datetime.timedelta(seconds=2593), 'Meereen', '', '', '', '', ''),
 (1775, 5, 1, 35, datetime.timedelta(seconds=2593), datetime.timedelta(seconds=2689), 'Meereen', '', '', '', '', ''),
 (1776, 5, 1, 36, datetime.timedelta(seconds=2689), datetime.timedelta(seconds=2696), 'Meereen', '', '', '', '', ''),
 (1788, 5, 2, 1, datetime.timedelta(seconds=210), datetime.timedelta(seconds=260), 'Braavos', '', '', '', '', ''),
 (1789, 5, 2, 2, datetime.timedelta(seconds=260), datetime.timedelta(seconds=344), 'Braavos', '', '', '', '', ''),

   - Modify empty strings "" to null.

In [52]:
%%sql
UPDATE scenes SET subLocation = NULL WHERE subLocation = "";
UPDATE scenes SET altLocation = NULL WHERE altLocation = "";

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
495 rows affected.
4130 rows affected.

[]

   - Change "True" and "" to Boolean 1 and 0

In [53]:
%%sql
UPDATE scenes SET greensight = 1 WHERE greensight = "True";
UPDATE scenes SET greensight = 0 WHERE greensight = "";

UPDATE scenes SET warg = 1 WHERE warg = "True";
UPDATE scenes SET warg = 0 WHERE warg = "";

UPDATE scenes SET flashback = 1 WHERE flashback = "True";
UPDATE scenes SET flashback = 0 WHERE flashback = "";

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
16 rows affected.
4149 rows affected.
7 rows affected.
4158 rows affected.
41 rows affected.
4124 rows affected.

[]

   - Add primary key; modify column types; add special constraints.

In [54]:
%%sql
ALTER TABLE `W4111GoTSolutionClean`.`scenes` 
CHANGE COLUMN `id` `id` INT NOT NULL ,
CHANGE COLUMN `seasonNum` `seasonNum` INT NOT NULL ,
CHANGE COLUMN `episodeNum` `episodeNum` INT NOT NULL ,
CHANGE COLUMN `sceneNo` `sceneNo` INT NOT NULL ,
CHANGE COLUMN `sceneStart` `sceneStart` TIME NOT NULL ,
CHANGE COLUMN `sceneEnd` `sceneEnd` TIME NOT NULL ,
CHANGE COLUMN `greensight` `greensight` TINYINT NOT NULL DEFAULT 0 ,
CHANGE COLUMN `warg` `warg` TINYINT NOT NULL DEFAULT 0 ,
CHANGE COLUMN `flashback` `flashback` TINYINT NOT NULL DEFAULT 0 ,
ADD PRIMARY KEY (`seasonNum`, `episodeNum`, `sceneNo`),
ADD UNIQUE INDEX `id_UNIQUE` (`id` ASC) VISIBLE;

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
4165 rows affected.

[]

   - Table scenes cleaned.

In [55]:
%sql describe scenes

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
12 rows affected.

[('id', 'int', 'NO', 'UNI', None, ''),
 ('seasonNum', 'int', 'NO', 'PRI', None, ''),
 ('episodeNum', 'int', 'NO', 'PRI', None, ''),
 ('sceneNo', 'int', 'NO', 'PRI', None, ''),
 ('sceneStart', 'time', 'NO', '', None, ''),
 ('sceneEnd', 'time', 'NO', '', None, ''),
 ('location', 'varchar(64)', 'YES', '', None, ''),
 ('subLocation', 'varchar(64)', 'YES', '', None, ''),
 ('greensight', 'tinyint', 'NO', '', '0', ''),
 ('altLocation', 'varchar(64)', 'YES', '', None, ''),
 ('warg', 'tinyint', 'NO', '', '0', ''),
 ('flashback', 'tinyint', 'NO', '', '0', '')]

## Scenes and Characters

In [56]:
%sql SELECT * FROM scenes_characters LIMIT 20;

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
20 rows affected.

[(0, 1, 1, 1, 'Gared'),
 (1, 1, 1, 1, 'Waymar Royce'),
 (2, 1, 1, 1, 'Will'),
 (3, 1, 1, 2, 'Gared'),
 (4, 1, 1, 2, 'Waymar Royce'),
 (5, 1, 1, 2, 'Will'),
 (6, 1, 1, 3, 'Will'),
 (7, 1, 1, 3, 'Wight Wildling Girl'),
 (8, 1, 1, 4, 'Will'),
 (9, 1, 1, 6, 'Gared'),
 (10, 1, 1, 6, 'Waymar Royce'),
 (11, 1, 1, 6, 'Will'),
 (12, 1, 1, 7, 'Will'),
 (13, 1, 1, 8, 'Gared'),
 (14, 1, 1, 8, 'Waymar Royce'),
 (15, 1, 1, 9, 'Will'),
 (16, 1, 1, 10, 'Gared'),
 (17, 1, 1, 10, 'Waymar Royce'),
 (18, 1, 1, 10, 'White Walker'),
 (19, 1, 1, 11, 'Will')]

   - Check null and empty string ""

In [57]:
%sql SELECT * FROM scenes_characters WHERE characterName IS NULL;

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
0 rows affected.

[]

In [58]:
%sql SELECT * FROM scenes_characters WHERE characterName = "";

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
0 rows affected.

[]

   - There is no null entries in this table, so we modify the null constraints "Not Null" and add primary key.

In [59]:
%%sql
ALTER TABLE `W4111GoTSolutionClean`.`scenes_characters` 
CHANGE COLUMN `id` `id` INT NOT NULL ,
CHANGE COLUMN `seasonNum` `seasonNum` INT NOT NULL ,
CHANGE COLUMN `episodeNum` `episodeNum` INT NOT NULL ,
CHANGE COLUMN `sceneNo` `sceneNo` INT NOT NULL ,
CHANGE COLUMN `characterName` `characterName` VARCHAR(64) NOT NULL ,
ADD PRIMARY KEY (`id`);

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
0 rows affected.

[]

In [60]:
%sql describe scenes_characters

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
5 rows affected.

[('id', 'int', 'NO', 'PRI', None, ''),
 ('seasonNum', 'int', 'NO', '', None, ''),
 ('episodeNum', 'int', 'NO', '', None, ''),
 ('sceneNo', 'int', 'NO', '', None, ''),
 ('characterName', 'varchar(64)', 'NO', '', None, '')]

   - Now we want to deal with foreign keys in scenes_characters table.
   - First to look at the foreign keys from scenes_characters to scenes.
   - Check the valid condition for the foreign keys.

In [61]:
%%sql SELECT * FROM scenes_characters AS a
WHERE NOT EXISTS (SELECT * FROM scenes AS b
                 WHERE a.seasonNum = b.seasonNum)

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
0 rows affected.

[]

In [62]:
%%sql SELECT * FROM scenes_characters AS a
WHERE NOT EXISTS (SELECT * FROM scenes AS b
                 WHERE a.episodeNum = b.episodeNum)

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
0 rows affected.

[]

In [63]:
%%sql SELECT * FROM scenes_characters AS a
WHERE NOT EXISTS (SELECT * FROM scenes AS b
                 WHERE a.sceneNo = b.sceneNo)

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
0 rows affected.

[]

   - Add indices in scenes and scenes_characters.
   - Add foreign key (seansonNum, episodeNum, sceneNo) in scenes_characters, referencing to the same columns in scenes.

In [64]:
%%sql
ALTER TABLE `W4111GoTSolutionClean`.`scenes_characters` 
ADD INDEX `Foreign_Key_scenes_idx` (`seasonNum` ASC, `episodeNum` ASC, `sceneNo` ASC) VISIBLE;
ALTER TABLE `W4111GoTSolutionClean`.`scenes` 
ADD INDEX `Foreign_Key_scenes_idx` (`seasonNum` ASC, `episodeNum` ASC, `sceneNo` ASC) VISIBLE;
ALTER TABLE `W4111GoTSolutionClean`.`scenes_characters` 
ADD CONSTRAINT `Foreign_Key_scenes` 
FOREIGN KEY (`seasonNum` , `episodeNum` , `sceneNo`)
REFERENCES `W4111GoTSolutionClean`.`scenes` (`seasonNum` , `episodeNum` , `sceneNo`)
ON DELETE NO ACTION
ON UPDATE NO ACTION;

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
0 rows affected.
0 rows affected.
12114 rows affected.

[]

   - Then we want to look at the foreign keys from scenes_characters to characters.
   - First check the valid condition of the foreign key.

In [65]:
%%sql
SELECT * FROM W4111GoTSolution.scenes_characters
WHERE characterName NOT IN 
(SELECT characterName FROM W4111GoTSolution.characters)

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
515 rows affected.

[(580, 1, 6, 9, 'Dothraki Crone'),
 (605, 1, 6, 14, 'Joss'),
 (734, 1, 8, 4, 'Vayon Poole'),
 (834, 1, 8, 32, 'Chella'),
 (919, 1, 9, 19, 'Chella'),
 (936, 1, 9, 24, "King's Landing Baker"),
 (937, 1, 9, 24, 'Street Urchin'),
 (1086, 2, 1, 6, 'Northern Lord'),
 (1097, 2, 1, 10, 'Aggo'),
 (1152, 2, 1, 27, 'Barra'),
 (1200, 2, 2, 12, "Captain's Daughter"),
 (1202, 2, 2, 13, 'Brothel Customer'),
 (1273, 2, 3, 8, 'Gerard'),
 (1341, 2, 4, 1, 'Rennick'),
 (1342, 2, 4, 1, 'Lannister Guard'),
 (1345, 2, 4, 3, 'Rennick'),
 (1349, 2, 4, 4, 'Wounded Lannister Soldier'),
 (1352, 2, 4, 5, 'Wounded Lannister Soldier'),
 (1404, 2, 4, 23, 'Tortured Prisoner'),
 (1405, 2, 4, 24, 'Tortured Prisoner'),
 (1409, 2, 4, 24, 'Lannister Guard'),
 (1426, 2, 4, 28, 'Tortured Prisoner'),
 (1431, 2, 4, 28, 'Lannister Guard'),
 (1469, 2, 5, 10, 'Protestor'),
 (1482, 2, 5, 15, 'Reginald Lannister'),
 (1513, 2, 5, 24, 'Qartheen Woman'),
 (1679, 2, 6, 34, 'Quent'),
 (1752, 2, 7, 13, 'Torrhen Karstark'),
 (1785, 2, 7, 26, 'Torrhen Karstark'),
 (1788, 2, 7, 27, 'Torrhen Karstark'),
 (1841, 2, 8, 7, 'Stark Messenger'),
 (1944, 2, 9, 7, 'Singing Lannister Soldier'),
 (1948, 2, 9, 8, 'Singing Lannister Soldier'),
 (2121, 2, 9, 96, 'Singing Lannister Soldier'),
 (2132, 2, 9, 101, 'Singing Lannister Soldier'),
 (2209, 2, 10, 8, 'Soldier Tom'),
 (2210, 2, 10, 8, 'Stark Soldier'),
 (2327, 3, 1, 3, 'Man of the Nightswatch'),
 (2380, 3, 1, 22, 'Boat Commander'),
 (2433, 3, 1, 44, 'Orphan Kid'),
 (2445, 3, 1, 48, 'Unsullied'),
 (2477, 3, 2, 9, 'Master Torturer'),
 (2482, 3, 2, 11, 'Riverlands Traveller'),
 (2484, 3, 2, 12, "King's Landing Tailor"),
 (2489, 3, 2, 14, "King's Landing Tailor"),
 (2507, 3, 2, 20, 'Tyrell Servant'),
 (2514, 3, 2, 22, 'Tyrell Servant'),
 (2567, 3, 2, 39, 'Master Torturer'),
 (2607, 3, 2, 49, 'Riverlands Traveller'),
 (2667, 3, 3, 17, "Craster's Wife"),
 (2668, 3, 3, 17, "Craster's Younger Wife"),
 (2679, 3, 3, 21, 'Tortured Slave'),
 (2717, 3, 3, 32, 'Genna'),
 (2726, 3, 3, 35, 'Master Torturer'),
 (2728, 3, 3, 36, 'Master Torturer'),
 (2752, 3, 4, 3, 'Sorcerer'),
 (2800, 3, 4, 23, 'Tyrell Lady'),
 (2802, 3, 4, 24, 'Tyrell Lady'),
 (2810, 3, 4, 28, 'Bannen'),
 (2957, 3, 5, 16, 'Karstark Lookout'),
 (3168, 3, 7, 34, 'Violet'),
 (3171, 3, 7, 35, 'Violet'),
 (3246, 3, 8, 13, "Yunkai'i Whore"),
 (3374, 3, 9, 3, 'Merry Frey'),
 (3388, 3, 9, 8, 'Hog Farmer'),
 (3395, 3, 9, 10, 'Old Man'),
 (3400, 3, 9, 12, 'Old Man'),
 (3405, 3, 9, 13, 'Old Man'),
 (3432, 3, 9, 21, 'Old Man'),
 (3439, 3, 9, 23, 'Old Man'),
 (3446, 3, 9, 25, 'Old Man'),
 (3480, 3, 9, 37, 'Wendel Manderly'),
 (3519, 3, 9, 44, 'Wendel Manderly'),
 (3573, 3, 9, 57, 'Frey Guard'),
 (3575, 3, 9, 58, 'Frey Guard'),
 (3586, 3, 9, 60, 'Wendel Manderly'),
 (3627, 3, 10, 6, 'Desmond Crakehall'),
 (3628, 3, 10, 6, 'Eldrick Sarsfield'),
 (3699, 3, 10, 28, 'Frey Soldier #1'),
 (3700, 3, 10, 28, 'Frey Soldier #2'),
 (3724, 3, 10, 39, 'Fruit Vendor'),
 (3766, 4, 1, 4, 'Lord Blackmont'),
 (3771, 4, 1, 5, 'Whore #1'),
 (3772, 4, 1, 5, 'Whore #2'),
 (3778, 4, 1, 7, 'Morgan'),
 (3779, 4, 1, 7, "Morgan's Friend"),
 (3783, 4, 1, 8, 'Morgan'),
 (3784, 4, 1, 8, "Morgan's Friend"),
 (3908, 4, 1, 52, "Innkeeper's Daughter"),
 (3909, 4, 1, 52, 'Innkeeper'),
 (3913, 4, 1, 53, 'Innkeeper'),
 (3921, 4, 2, 1, 'Tansy'),
 (4003, 4, 2, 23, 'Axell Florent'),
 (4257, 4, 2, 76, 'King Balon Greyjoy Dwarf'),
 (4375, 4, 3, 20, 'Farmer Hamlet'),
 (4376, 4, 3, 20, "Farmer's Daughter"),
 (4379, 4, 3, 21, 'Farmer Hamlet'),
 (4380, 4, 3, 21, "Farmer's Daughter"),
 (4383, 4, 3, 22, 'Farmer Hamlet'),
 (4384, 4, 3, 22, "Farmer's Daughter"),
 (4405, 4, 3, 30, "Mole's Town Whore"),
 (4406, 4, 3, 30, "Mole's Town Madam"),
 (4416, 4, 3, 33, "King's Landing Whore"),
 (4421, 4, 3, 34, "King's Landing Whore"),
 (4429, 4, 3, 38, 'Guymon'),
 (4432, 4, 3, 39, "Olly's Mother"),
 (4433, 4, 3, 39, 'Guymon'),
 (4471, 4, 3, 47, 'Oznak zo Pahl'),
 (4476, 4, 3, 48, 'Oznak zo Pahl'),
 (4483, 4, 3, 50, 'Oznak zo Pahl'),
 (4489, 4, 3, 51, 'Oznak zo Pahl'),
 (4494, 4, 3, 52, 'Oznak zo Pahl'),
 (4496, 4, 3, 53, 'Oznak zo Pahl'),
 (4501, 4, 3, 54, 'Oznak zo Pahl'),
 (4516, 4, 4, 5, 'Elder Meereen Slave'),
 (4517, 4, 4, 5, 'Valyrian Slave'),
 (4519, 4, 4, 6, 'Elder Meereen Slave'),
 (4520, 4, 4, 6, 'Valyrian Slave'),
 (4590, 4, 4, 32, 'Sissy'),
 (4593, 4, 4, 33, 'Sissy'),
 (4594, 4, 4, 33, "Craster's Wife #2"),
 (4595, 4, 4, 33, "Craster's Wife #3"),
 (4597, 4, 4, 33, 'Morag'),
 (4626, 4, 4, 42, 'Sissy'),
 (4768, 4, 5, 45, 'Sissy'),
 (4770, 4, 5, 46, 'Sissy'),
 (4773, 4, 5, 47, 'Sissy'),
 (4782, 4, 5, 49, 'Morag'),
 (4783, 4, 5, 49, 'Sissy'),
 (4787, 4, 5, 50, 'Morag'),
 (4788, 4, 5, 50, 'Sissy'),
 (4798, 4, 6, 4, 'Bathhouse Prostitute'),
 (4801, 4, 6, 5, 'Bathhouse Prostitute'),
 (4816, 4, 6, 14, 'Bolton Guard'),
 (4818, 4, 6, 15, 'First Mate'),
 (4820, 4, 6, 15, 'Bolton Guard'),
 (4822, 4, 6, 16, 'First Mate'),
 (4826, 4, 6, 17, 'First Mate'),
 (4828, 4, 6, 18, 'First Mate'),
 (4830, 4, 6, 18, 'Ironborn in Skiff'),
 (4833, 4, 6, 20, 'Goatherd'),
 (4834, 4, 6, 20, "Goatherd's Son"),
 (4841, 4, 6, 21, 'Goatherd'),
 (4957, 4, 7, 4, 'Old Man'),
 (5023, 4, 8, 1, "Mole's Town Whore"),
 (5025, 4, 8, 1, 'Black Jack Bulwer'),
 (5026, 4, 8, 1, 'Mully'),
 (5034, 4, 8, 3, "Mole's Town Whore"),
 (5036, 4, 8, 3, 'Black Jack Bulwer'),
 (5037, 4, 8, 3, 'Mully'),
 (5056, 4, 8, 11, 'Ralf Kenning'),
 (5057, 4, 8, 11, 'Adrack Humble'),
 (5059, 4, 8, 12, 'Adrack Humble'),
 (5061, 4, 8, 13, 'Adrack Humble'),
 (5065, 4, 8, 14, 'Anya Waynwood'),
 (5066, 4, 8, 14, 'Vance Corbray'),
 (5069, 4, 8, 15, 'Anya Waynwood'),
 (5070, 4, 8, 15, 'Vance Corbray'),
 (5074, 4, 8, 16, 'Anya Waynwood'),
 (5261, 4, 9, 49, 'Donnel Hill'),
 (5262, 4, 9, 49, 'Cooper'),
 (5272, 4, 9, 54, 'Donnel Hill'),
 (5273, 4, 9, 54, 'Cooper'),
 (5289, 4, 9, 65, 'Donnel Hill'),
 (5290, 4, 9, 65, 'Cooper'),
 (5293, 4, 9, 67, 'Donnel Hill'),
 (5294, 4, 9, 67, 'Cooper'),
 (5297, 4, 9, 69, 'Donnel Hill'),
 (5298, 4, 9, 69, 'Cooper'),
 (5301, 4, 9, 71, 'Donnel Hill'),
 (5302, 4, 9, 71, 'Cooper'),
 (5333, 4, 9, 85, 'Donnel Hill'),
 (5334, 4, 9, 85, 'Cooper'),
 (5369, 4, 10, 14, 'Fennesz'),
 (5377, 4, 10, 16, 'Goatherd'),
 (5470, 5, 1, 1, 'Melara Hetherspoon'),
 (5472, 5, 1, 2, 'Melara Hetherspoon'),
 (5484, 5, 1, 8, 'White Rat'),
 (5485, 5, 1, 9, 'White Rat'),
 (5518, 5, 1, 17, 'Sparring Boy'),
 (5520, 5, 1, 17, 'Strong Sam Stone'),
 (5524, 5, 1, 18, 'Sparring Boy'),
 (5628, 5, 2, 6, 'Inn Waitress'),
 (5634, 5, 2, 7, 'Eyrie Guard'),
 (5637, 5, 2, 8, 'Eyrie Guard'),
 (5640, 5, 2, 9, 'Eyrie Guard'),
 (5669, 5, 2, 20, 'Son of the Harpy'),
 (5672, 5, 2, 21, 'Son of the Harpy'),
 (5685, 5, 2, 25, 'Dwarf Hunter #1'),
 (5686, 5, 2, 25, 'Dwarf Hunter #2'),
 (5714, 5, 2, 32, 'Denys Mallister'),
 (5715, 5, 2, 32, 'Mallister Supporter'),
 (5722, 5, 2, 33, 'Denys Mallister'),
 (5727, 5, 2, 34, 'Street Tough #1'),
 (5728, 5, 2, 34, 'Street Tough #2'),
 (5730, 5, 2, 35, 'Street Tough #1'),
 (5731, 5, 2, 35, 'Street Tough #2'),
 (5739, 5, 2, 38, 'Son of the Harpy'),
 (5740, 5, 2, 39, 'Son of the Harpy'),
 (5776, 5, 3, 1, 'Despondent Man'),
 (5781, 5, 3, 3, 'Despondent Man'),
 (5836, 5, 3, 26, 'Old Woman'),
 (5854, 5, 3, 30, 'The Stranger'),
 (5855, 5, 3, 30, 'The Warrior'),
 (5856, 5, 3, 30, 'The Smith'),
 (5857, 5, 3, 30, 'The Mother'),
 (5858, 5, 3, 30, 'The Maiden'),
 (5859, 5, 3, 30, 'The Crone'),
 (5862, 5, 3, 31, 'The Stranger'),
 (5863, 5, 3, 31, 'The Maiden'),
 (5866, 5, 3, 32, 'The Stranger'),
 (5867, 5, 3, 32, 'The Maiden'),
 (5882, 5, 3, 36, 'Beggar Woman'),
 (5913, 5, 3, 50, 'Brothel Guard'),
 (5916, 5, 3, 51, 'Sellsword #1'),
 (5917, 5, 3, 51, 'Sellsword #2'),
 (5919, 5, 3, 51, 'The Mother of Dragons'),
 (5921, 5, 3, 52, 'Clea'),
 (5922, 5, 3, 52, 'Sellsword #1'),
 (5923, 5, 3, 52, 'Sellsword #2'),
 (5924, 5, 3, 52, 'The Mother of Dragons'),
 (5926, 5, 3, 53, 'Clea'),
 (5927, 5, 3, 54, 'Clea'),
 (5951, 5, 4, 8, 'Faith Militant #1'),
 (5952, 5, 4, 8, 'Faith Militant #2'),
 (5953, 5, 4, 8, 'Brothel Customer'),
 (5954, 5, 4, 8, 'Whore #1'),
 (5955, 5, 4, 8, 'Whore #2'),
 (5956, 5, 4, 8, 'Whore #3'),
 (5957, 5, 4, 8, 'Whore #4'),
 (5958, 5, 4, 8, 'Whore #5'),
 (5959, 5, 4, 8, 'Whore #6'),
 (5962, 5, 4, 10, 'Faith Militant #1'),
 (5963, 5, 4, 10, 'Faith Militant #2'),
 (5964, 5, 4, 10, 'Brothel Customer'),
 (5973, 5, 4, 15, 'Faith Militant #1'),
 (5974, 5, 4, 15, 'Lead Kingsguard'),
 (6048, 5, 4, 44, 'Second Son'),
 (6050, 5, 4, 45, 'Second Son'),
 (6125, 5, 5, 16, 'Winter Town Man'),
 (6129, 5, 5, 18, 'Old Woman'),
 (6191, 5, 5, 45, 'Stone Man'),
 (6204, 5, 6, 5, 'Joss'),
 (6205, 5, 6, 5, 'Ghita'),
 (6207, 5, 6, 6, 'Ghita'),
 (6209, 5, 6, 7, 'Ghita'),
 (6210, 5, 6, 7, 'Joss'),
 (6213, 5, 6, 8, 'Ghita'),
 (6222, 5, 6, 11, 'Slaver'),
 (6226, 5, 6, 12, 'Slaver'),
 (6348, 5, 7, 13, 'Old Woman'),
 (6357, 5, 7, 17, 'Derek'),
 (6358, 5, 7, 17, 'Brant'),
 (6360, 5, 7, 18, 'Derek'),
 (6361, 5, 7, 18, 'Brant'),
 (6364, 5, 7, 19, 'Derek'),
 (6365, 5, 7, 19, 'Brant'),
 (6383, 5, 7, 27, 'Tyrell Guard'),
 (6449, 5, 8, 7, 'Braavosi Captain'),
 (6500, 5, 8, 26, 'Dim Dalba'),
 (6504, 5, 8, 27, 'Johnna'),
 (6505, 5, 8, 27, 'Willa'),
 (6584, 5, 9, 7, 'Willa'),
 (6585, 5, 9, 7, 'Johnna'),
 (6591, 5, 9, 9, 'Willa'),
 (6592, 5, 9, 9, 'Johnna'),
 (6648, 5, 9, 26, 'Sailor'),
 (6668, 5, 9, 32, 'Lannister Guard #1'),
 (6669, 5, 9, 32, 'Lannister Guard #2'),
 (6672, 5, 9, 33, 'Brusco'),
 (6674, 5, 9, 33, 'Young Braavosi'),
 (6678, 5, 9, 34, 'Braavosi Madam'),
 (6679, 5, 9, 34, 'Whore'),
 (6681, 5, 9, 34, 'Anara'),
 (6682, 5, 9, 34, 'Lannister Guard #1'),
 (6683, 5, 9, 34, 'Lannister Guard #2'),
 (6684, 5, 9, 34, 'Aya'),
 (6706, 5, 9, 42, 'Pit Announcer'),
 (6717, 5, 9, 44, 'Pit Announcer'),
 (6767, 5, 10, 3, 'Baratheon General'),
 (6770, 5, 10, 4, 'Baratheon General'),
 (6771, 5, 10, 4, 'Baratheon Soldier #1'),
 (6773, 5, 10, 5, 'Baratheon Soldier #1'),
 (6774, 5, 10, 5, 'Baratheon Soldier #2'),
 (6776, 5, 10, 5, 'Baratheon General'),
 (6784, 5, 10, 8, 'Baratheon General'),
 (6793, 5, 10, 15, 'Baratheon General'),
 (6797, 5, 10, 18, 'Baratheon General'),
 (6801, 5, 10, 23, 'Baratheon General'),
 (6803, 5, 10, 24, 'Gordy'),
 (6804, 5, 10, 24, 'Simpson'),
 (6816, 5, 10, 33, 'Brothel Child #1'),
 (6817, 5, 10, 33, 'Brothel Child #2'),
 (6818, 5, 10, 33, 'Ghita'),
 (6820, 5, 10, 34, 'Ghita'),
 (6877, 5, 10, 54, "King's Landing Drunkard"),
 (6878, 5, 10, 54, "King's Landing Whore"),
 (6879, 5, 10, 54, "King's Landing Flasher #1"),
 (6880, 5, 10, 54, "King's Landing Flasher #2"),
 (6948, 6, 1, 13, 'Bolton Officer'),
 (6949, 6, 1, 13, 'Bolton Soldier'),
 (6952, 6, 1, 14, 'Bolton Officer'),
 (6953, 6, 1, 14, 'Bolton Soldier'),
 (6984, 6, 1, 25, 'Maester Caleotte'),
 (6995, 6, 1, 29, 'Meereenese Homeless Mother'),
 (7015, 6, 1, 39, "Moro's Wife #1"),
 (7016, 6, 1, 39, "Moro's Wife #2"),
 (7098, 6, 2, 16, "King's Landing Boaster"),
 (7099, 6, 2, 17, "King's Landing Boaster"),
 (7144, 6, 2, 34, 'Newborn Bolton'),
 (7228, 6, 3, 13, 'Dothraki Widow #1'),
 (7229, 6, 3, 13, 'Dothraki Widow #2'),
 (7240, 6, 3, 17, 'Frances'),
 (7248, 6, 3, 18, 'Frances'),
 (7370, 6, 4, 13, 'Belicho Paenymion'),
 (7374, 6, 4, 14, 'Kesh'),
 (7375, 6, 4, 14, 'Ash'),
 (7383, 6, 4, 17, 'Dothraki Woman Having Sex'),
 (7384, 6, 4, 17, 'Dothraki Man Having Sex'),
 (7388, 6, 4, 18, 'Iggo'),
 (7392, 6, 4, 19, 'Dothraki Widow #1'),
 (7393, 6, 4, 19, 'Dothraki Widow #2'),
 (7443, 6, 4, 35, 'Khal Forzho'),
 (7444, 6, 4, 35, 'Khal Brozho'),
 (7446, 6, 4, 35, 'Khal Qorro'),
 (7450, 6, 4, 36, 'Khal Forzho'),
 (7451, 6, 4, 36, 'Khal Brozho'),
 (7453, 6, 4, 36, 'Khal Qorro'),
 (7460, 6, 4, 37, 'Khal Forzho'),
 (7461, 6, 4, 37, 'Khal Brozho'),
 (7463, 6, 4, 37, 'Khal Qorro'),
 (7470, 6, 4, 39, 'Khal Forzho'),
 (7471, 6, 4, 39, 'Khal Brozho'),
 (7473, 6, 4, 39, 'Khal Qorro'),
 (7504, 6, 5, 6, 'Camello'),
 (7507, 6, 5, 6, 'Clarenzo'),
 (7508, 6, 5, 6, 'Mummer #2'),
 (7509, 6, 5, 6, 'Mummer #3'),
 (7510, 6, 5, 6, 'Mummer #4'),
 (7516, 6, 5, 6, 'Braavosi Woman #1'),
 (7517, 6, 5, 6, 'Braavosi Woman #2'),
 (7518, 6, 5, 6, 'Braavosi Theatre Server'),
 (7519, 6, 5, 6, 'Braavosi Theatre Sound Artist'),
 (7520, 6, 5, 7, 'Clarenzo'),
 (7522, 6, 5, 7, 'Camello'),
 (7526, 6, 5, 7, 'Margaery Tyrell Mummer'),
 (7555, 6, 5, 20, 'Ironborn #1'),
 (7556, 6, 5, 20, 'Ironborn #2'),
 (7557, 6, 5, 20, 'Ironborn #3'),
 (7561, 6, 5, 21, 'Ironborn #1'),
 (7562, 6, 5, 21, 'Ironborn #2'),
 (7563, 6, 5, 21, 'Ironborn #3'),
 (7757, 6, 6, 2, 'Aerys Targaryen'),
 (7762, 6, 6, 4, 'Aerys Targaryen'),
 (7769, 6, 6, 6, 'Aerys Targaryen'),
 (7819, 6, 6, 27, 'Camello'),
 (7822, 6, 6, 27, 'Clarenzo'),
 (7823, 6, 6, 27, 'Margaery Tyrell Mummer'),
 (7824, 6, 6, 27, 'Mummer #2'),
 (7825, 6, 6, 27, 'Mummer #3'),
 (7826, 6, 6, 27, 'Mummer #4'),
 (7835, 6, 6, 28, 'Camello'),
 (7838, 6, 6, 28, 'Clarenzo'),
 (7839, 6, 6, 28, 'Margaery Tyrell Mummer'),
 (7840, 6, 6, 28, 'Mummer #2'),
 (7841, 6, 6, 28, 'Mummer #3'),
 (7842, 6, 6, 28, 'Mummer #4'),
 (7852, 6, 6, 30, 'Braavosi Theatre Sound Artist'),
 (7856, 6, 6, 32, 'Braavosi Theatre Sound Artist'),
 (7861, 6, 6, 34, 'Clarenzo'),
 (7866, 6, 6, 36, 'Camello'),
 (7869, 6, 6, 36, 'Clarenzo'),
 (7870, 6, 6, 36, 'Margaery Tyrell Mummer'),
 (7873, 6, 6, 38, 'Margaery Tyrell Mummer'),
 (7874, 6, 6, 38, 'Camello'),
 (7881, 6, 6, 39, 'Clarenzo'),
 (7887, 6, 6, 41, 'Camello'),
 (7888, 6, 6, 41, 'Margaery Tyrell Mummer'),
 (7893, 6, 6, 42, 'Camello'),
 (7894, 6, 6, 42, 'Margaery Tyrell Mummer'),
 (7968, 6, 7, 12, 'Dim Dalba'),
 (7974, 6, 7, 13, 'Dim Dalba'),
 (8013, 6, 7, 25, 'Bear Island Maester'),
 (8023, 6, 7, 30, 'Volantene Whore #1'),
 (8024, 6, 7, 30, 'Volantene Whore #2'),
 (8025, 6, 7, 30, 'Volantene Whore #3'),
 (8026, 6, 7, 30, 'Volantene Whore #4'),
 (8027, 6, 7, 30, 'Volantene Whore #5'),
 (8028, 6, 7, 30, 'Ironborn at Brothel'),
 (8029, 6, 7, 30, 'Ironborn Abusing a Volantene Whore'),
 (8042, 6, 7, 34, 'Bear Island Maester'),
 (8050, 6, 7, 37, 'Morgan'),
 (8054, 6, 7, 39, 'Westerosi Trader'),
 (8058, 6, 7, 41, "The Waif's Disguise"),
 (8060, 6, 7, 42, "The Waif's Disguise"),
 (8068, 6, 8, 1, 'Clarenzo'),
 (8073, 6, 8, 4, 'Morgan'),
 (8074, 6, 8, 4, 'Riddell'),
 (8075, 6, 8, 4, 'Steve'),
 (8077, 6, 8, 5, 'Morgan'),
 (8078, 6, 8, 5, 'Riddell'),
 (8079, 6, 8, 5, 'Steve'),
 (8082, 6, 8, 6, 'Morgan'),
 (8083, 6, 8, 6, 'Riddell'),
 (8104, 6, 8, 14, 'Lannister Soldier'),
 (8148, 6, 8, 29, 'Tully Bannerman'),
 (8156, 6, 8, 34, 'Tully Bannerman'),
 (8160, 6, 8, 37, 'Tully Bannerman'),
 (8165, 6, 8, 41, 'Lannister Soldier'),
 (8188, 6, 8, 49, "The Waif's Disguise"),
 (8205, 6, 9, 4, 'Belicho Paenymion'),
 (8212, 6, 9, 5, 'Belicho Paenymion'),
 (8219, 6, 9, 6, 'Belicho Paenymion'),
 (8236, 6, 9, 12, 'Belicho Paenymion'),
 (8379, 6, 9, 60, 'Bolton General'),
 (8418, 6, 10, 5, "Tommen's Manservant"),
 (8425, 6, 10, 10, 'Frances'),
 (8454, 6, 10, 22, 'Frances'),
 (8473, 6, 10, 28, 'Frances'),
 (8483, 6, 10, 30, 'Frances'),
 (8541, 6, 10, 55, "Tommen's Manservant"),
 (8611, 6, 10, 82, 'Baby Jon Snow'),
 (8617, 6, 10, 83, 'Wyman Manderly'),
 (8619, 6, 10, 83, 'Cley Cerwyn'),
 (8627, 6, 10, 84, 'Wyman Manderly'),
 (8629, 6, 10, 84, 'Cley Cerwyn'),
 (8658, 7, 1, 4, 'Wun Wun Wight'),
 (8659, 7, 1, 4, 'Mag the Mighty Wight'),
 (8709, 7, 1, 20, 'Archmaester Ebrose'),
 (8734, 7, 1, 30, 'Farmer Hamlet'),
 (8735, 7, 1, 30, "Farmer's Daughter"),
 (8800, 7, 2, 10, 'Archmaester Ebrose'),
 (8821, 7, 2, 17, 'Archmaester Ebrose'),
 (8947, 7, 3, 11, 'Harrag'),
 (8978, 7, 3, 21, 'Bernadette'),
 (9006, 7, 3, 34, 'Archmaester Ebrose'),
 (9011, 7, 3, 36, 'Archmaester Ebrose'),
 (9052, 7, 4, 10, 'Koner'),
 (9053, 7, 4, 10, 'Henk'),
 (9055, 7, 4, 12, 'Koner'),
 (9056, 7, 4, 12, 'Henk'),
 (9057, 7, 4, 13, 'Koner'),
 (9058, 7, 4, 13, 'Henk'),
 (9155, 7, 4, 36, 'Harrag'),
 (9157, 7, 4, 37, 'Harrag'),
 (9302, 7, 5, 21, 'Archmaester Ebrose'),
 (9304, 7, 5, 21, 'Maester Sandhu'),
 (9305, 7, 5, 22, 'Archmaester Ebrose'),
 (9306, 7, 5, 22, 'Maester Sandhu'),
 (9334, 7, 5, 32, 'Kevin Eldon'),
 (9335, 7, 5, 32, 'Laurence Spellman'),
 (9338, 7, 5, 33, 'Kevin Eldon'),
 (9339, 7, 5, 33, 'Laurence Spellman'),
 (9372, 7, 5, 44, 'Adele Smyth-Kennedy'),
 (9925, 7, 7, 49, 'Harrag'),
 (10012, 8, 1, 1, 'Winterfell Boy'),
 (10013, 8, 1, 2, 'Winterfell Boy'),
 (10014, 8, 1, 3, 'Winterfell Boy'),
 (10016, 8, 1, 4, 'Winterfell Boy'),
 (10034, 8, 1, 11, 'Village Woman'),
 (10154, 8, 1, 39, 'Craya'),
 (10155, 8, 1, 39, 'Dirah'),
 (10158, 8, 1, 40, 'Craya'),
 (10159, 8, 1, 40, 'Dirah'),
 (10166, 8, 1, 42, 'Lannister Guard'),
 (10387, 8, 2, 27, 'Fergus'),
 (10390, 8, 2, 29, 'Teela'),
 (10404, 8, 2, 37, 'Fergus'),
 (10695, 8, 3, 121, 'Teela'),
 (10774, 8, 3, 173, 'Teela'),
 (10832, 8, 3, 209, 'Wun Wun Wight'),
 (10835, 8, 3, 211, 'Wun Wun Wight'),
 (10840, 8, 3, 213, 'Wun Wun Wight'),
 (10858, 8, 3, 220, 'Teela'),
 (10935, 8, 3, 244, 'Fergus'),
 (10943, 8, 3, 246, 'Teela'),
 (10984, 8, 3, 262, 'Teela'),
 (11052, 8, 3, 286, 'Teela'),
 (11282, 8, 4, 40, 'Willa'),
 (11524, 8, 5, 2, 'Martha'),
 (11571, 8, 5, 21, 'Eleanor'),
 (11572, 8, 5, 21, "Eleanor's Daughter"),
 (11587, 8, 5, 29, 'Northern Guard'),
 (11589, 8, 5, 30, 'Unsullied Soldier'),
 (11611, 8, 5, 51, 'Eleanor'),
 (11612, 8, 5, 51, "Eleanor's Daughter"),
 (11615, 8, 5, 52, 'Eleanor'),
 (11616, 8, 5, 52, "Eleanor's Daughter"),
 (11840, 8, 5, 201, 'Eleanor'),
 (11841, 8, 5, 201, "Eleanor's Daughter"),
 (11863, 8, 5, 214, 'Eleanor'),
 (11864, 8, 5, 214, "Eleanor's Daughter"),
 (11866, 8, 5, 215, 'Eleanor'),
 (11867, 8, 5, 215, "Eleanor's Daughter"),
 (11871, 8, 5, 216, 'Eleanor'),
 (11872, 8, 5, 216, "Eleanor's Daughter"),
 (11877, 8, 5, 219, 'Eleanor'),
 (11878, 8, 5, 219, "Eleanor's Daughter"),
 (11887, 8, 6, 3, 'Eleanor'),
 (11888, 8, 6, 3, "Eleanor's Daughter"),
 (11997, 8, 6, 46, 'Dornish Lord'),
 (11998, 8, 6, 46, 'Lord #1'),
 (11999, 8, 6, 46, 'Lord #2'),
 (12000, 8, 6, 46, 'Lord #3'),
 (12001, 8, 6, 46, 'Lord #4'),
 (12015, 8, 6, 47, 'Dornish Lord'),
 (12016, 8, 6, 47, 'Lord #1'),
 (12017, 8, 6, 47, 'Lord #2'),
 (12018, 8, 6, 47, 'Lord #3'),
 (12019, 8, 6, 47, 'Lord #4'),
 (12033, 8, 6, 48, 'Dornish Lord'),
 (12034, 8, 6, 48, 'Lord #1'),
 (12035, 8, 6, 48, 'Lord #2'),
 (12036, 8, 6, 48, 'Lord #3'),
 (12037, 8, 6, 48, 'Lord #4')]

   - Since there are some characters in scenes_characters table but are not in characters table, we create another table in schema W4111GoTSolution named character_ids which includes all the characters in scenes_characters and characters tables, associated with the corresponding character_id.

In [66]:
%%sql
DROP TABLE IF EXISTS W4111GoTSolution.character_ids;

CREATE TABLE `W4111GoTSolution`.`character_ids` (
  `auto_id` INT NOT NULL AUTO_INCREMENT,
  `characterName` VARCHAR(128) NULL,
  `real_id` INT NULL,
  `character_id` VARCHAR(16) GENERATED ALWAYS AS (concat("CH_", real_id)) STORED,
  PRIMARY KEY (`auto_id`));
  
INSERT INTO W4111GoTSolution.character_ids(characterName, real_id)
SELECT characterName, id FROM W4111GoTSolution.characters ORDER BY id asc;

INSERT INTO W4111GoTSolution.character_ids(characterName)
SELECT DISTINCT characterName FROM W4111GoTSolution.scenes_characters
WHERE characterName NOT IN (SELECT characterName FROM W4111GoTSolution.characters);
                
UPDATE W4111GoTSolution.character_ids
SET real_id = auto_id-1 WHERE real_id IS NULL;

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
0 rows affected.
0 rows affected.
389 rows affected.
238 rows affected.
238 rows affected.

[]

   - Import table character_ids in W4111GoTSolution to W4111GoTSolutionClean.

In [67]:
%%sql
DROP TABLE IF EXISTS character_ids;
CREATE TABLE character_ids AS SELECT * FROM W4111GoTSolution.character_ids;

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
0 rows affected.
627 rows affected.

[]

   - Modify the id numbers to make them being sequentially.

In [68]:
%%sql
INSERT INTO characters(id, character_id, characterName)
SELECT real_id - 122, concat("CH_", real_id - 122), characterName FROM character_ids
WHERE real_id > 388

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
238 rows affected.

[]

   - Check validity condition again.

In [69]:
%%sql
SELECT * FROM scenes_characters
WHERE characterName NOT IN 
(SELECT characterName FROM characters)

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
0 rows affected.

[]

   - Add indices in characters and scenes_characters tables.

In [70]:
%%sql
ALTER TABLE `W4111GoTSolutionClean`.`characters` 
ADD INDEX `Foreign_Key_characters_idx` (`characterName` ASC) VISIBLE;
ALTER TABLE `W4111GoTSolutionClean`.`scenes_characters` 
ADD INDEX `Foreign_Key_characters_idx` (`characterName` ASC) VISIBLE;

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
0 rows affected.
0 rows affected.

[]

   - Add foreign key (characterName) in scenes_characters referencing to the same column in characters.

In [71]:
%%sql
ALTER TABLE `W4111GoTSolutionClean`.`scenes_characters` 
ADD CONSTRAINT `Foreign_Key_characters`
FOREIGN KEY (`characterName`)
REFERENCES `W4111GoTSolutionClean`.`characters` (`characterName`)
ON DELETE NO ACTION
ON UPDATE NO ACTION;

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
12114 rows affected.

[]

## Task 4

### Views

#### Character Interactions

- ```Characters``` interacted if they appeared in the same ```scene.```


- Create the following view:
    - ```characterName_1```
    - ```character_id_1```
    - ```characterName_2```
    - ```character_id_2```
    - ```scene_count,``` number of scenes containing both ```characters.```
    - Order by ```scene_count``` descending.

- Each pair should appear only once, that is the table should not contain two rows of the form:
    - ```character_1, character_2, scene_count```
    - ```character_2, character_1, scene_count```

   - Create a temporary table temp which left joins scenes_characters with characters on characterName. This ensures that table temp has all the characterNames associated with their corresponding character_ids.

In [72]:
%%sql
DROP TABLE IF EXISTS temp;
CREATE TABLE temp AS 
SELECT scenes_characters.*, characters.character_id
FROM scenes_characters 
LEFT JOIN characters 
ON scenes_characters.characterName = characters.characterName

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
0 rows affected.
12270 rows affected.

[]

In [73]:
%sql SELECT * FROM temp LIMIT 10

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
10 rows affected.

[(0, 1, 1, 1, 'Gared', 'CH_68'),
 (1, 1, 1, 1, 'Waymar Royce', 'CH_360'),
 (2, 1, 1, 1, 'Will', 'CH_368'),
 (3, 1, 1, 2, 'Gared', 'CH_68'),
 (4, 1, 1, 2, 'Waymar Royce', 'CH_360'),
 (5, 1, 1, 2, 'Will', 'CH_368'),
 (6, 1, 1, 3, 'Will', 'CH_368'),
 (7, 1, 1, 3, 'Wight Wildling Girl', 'CH_366'),
 (8, 1, 1, 4, 'Will', 'CH_368'),
 (9, 1, 1, 6, 'Gared', 'CH_68')]

   - Since there exists some characters with multiple character_ids (eg. White Walker: CH_362, CH_363, CH_364), and we cannot find out which character id correspondes to the character name in scenes_characters table, I choose to concatenate the character ids for one character name if there exists multiple ids for him/her.

In [74]:
%%sql
DROP TABLE IF EXISTS temp1;
CREATE TABLE temp1 AS
SELECT DISTINCT seasonNum, episodeNum, sceneNo, characterName, GROUP_CONCAT(character_id) as character_id
FROM temp GROUP BY seasonNum, episodeNum, sceneNo, characterName

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
0 rows affected.
12114 rows affected.

[]

In [75]:
%sql SELECT * FROM temp1 LIMIT 10

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
10 rows affected.

[(1, 1, 1, 'Gared', 'CH_68'),
 (1, 1, 1, 'Waymar Royce', 'CH_360'),
 (1, 1, 1, 'Will', 'CH_368'),
 (1, 1, 2, 'Gared', 'CH_68'),
 (1, 1, 2, 'Waymar Royce', 'CH_360'),
 (1, 1, 2, 'Will', 'CH_368'),
 (1, 1, 3, 'Wight Wildling Girl', 'CH_366'),
 (1, 1, 3, 'Will', 'CH_368'),
 (1, 1, 4, 'Will', 'CH_368'),
 (1, 1, 6, 'Gared', 'CH_68')]

   - Create the character_interactions view.

In [76]:
%%sql
DROP VIEW IF EXISTS character_interactions;
CREATE VIEW character_interactions AS
SELECT a.characterName AS characterName_1,
a.character_id AS character_id_1,
b.characterName AS characterName_2,
b.character_id AS character_id_2,
count(*) AS scene_count
FROM temp1 AS a
JOIN temp1 AS b
USING(seasonNum, episodeNum, sceneNo)
WHERE a.characterName < b.characterName
group by characterName_1, character_id_1, characterName_2, character_id_2
ORDER BY scene_count DESC

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
0 rows affected.
0 rows affected.

[]

In [77]:
%%sql SELECT * 
FROM character_interactions
LIMIT 30

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
30 rows affected.

[('Daenerys Targaryen', 'CH_44', 'Drogon', 'CH_57', 172),
 ('Daenerys Targaryen', 'CH_44', 'Jorah Mormont', 'CH_125', 148),
 ('Jon Snow', 'CH_123', 'Tormund Giantsbane', 'CH_345', 145),
 ('Lord Varys', 'CH_177', 'Tyrion Lannister', 'CH_349', 141),
 ('Davos Seaworth', 'CH_47', 'Jon Snow', 'CH_123', 136),
 ('Daenerys Targaryen', 'CH_44', 'Missandei', 'CH_216', 131),
 ('Daenerys Targaryen', 'CH_44', 'Jon Snow', 'CH_123', 119),
 ('Daenerys Targaryen', 'CH_44', 'Tyrion Lannister', 'CH_349', 116),
 ('Missandei', 'CH_216', 'Tyrion Lannister', 'CH_349', 97),
 ('Brienne of Tarth', 'CH_31', 'Jaime Lannister', 'CH_113', 91),
 ('Grey Worm', 'CH_91', 'Missandei', 'CH_216', 86),
 ('Jon Snow', 'CH_123', 'Tyrion Lannister', 'CH_349', 82),
 ('Cersei Lannister', 'CH_38', 'Tyrion Lannister', 'CH_349', 82),
 ('Daenerys Targaryen', 'CH_44', 'Grey Worm', 'CH_91', 82),
 ('Cersei Lannister', 'CH_38', 'Jaime Lannister', 'CH_113', 81),
 ('Eddison Tollett', 'CH_60', 'Jon Snow', 'CH_123', 81),
 ('Brienne of Tarth', 'CH_31', 'Podrick Payne', 'CH_258', 81),
 ('Jon Snow', 'CH_123', 'Samwell Tarly', 'CH_298', 80),
 ('Sansa Stark', 'CH_300', 'Tyrion Lannister', 'CH_349', 80),
 ('Bran Stark', 'CH_29', 'Hodor', 'CH_102', 76),
 ('Podrick Payne', 'CH_258', 'Tyrion Lannister', 'CH_349', 75),
 ('Jaime Lannister', 'CH_113', 'Tyrion Lannister', 'CH_349', 74),
 ('Davos Seaworth', 'CH_47', 'Tyrion Lannister', 'CH_349', 70),
 ('Bran Stark', 'CH_29', 'Meera Reed', 'CH_205', 68),
 ('Arya Stark', 'CH_15', 'Sandor Clegane', 'CH_299', 67),
 ('Cersei Lannister', 'CH_38', 'Gregor Clegane', 'CH_87', 67),
 ('Cersei Lannister', 'CH_38', 'Tommen Baratheon', 'CH_344', 65),
 ('Grey Worm', 'CH_91', 'Tyrion Lannister', 'CH_349', 65),
 ('Jon Snow', 'CH_123', 'Sansa Stark', 'CH_300', 64),
 ('Drogon', 'CH_57', 'Rhaegal', 'CH_278', 64)]

#### Observation from character_interactions:
From the character_interactions view, we can find the count for two characters to be in the same scene, associated with the two characters' names and their ids. Thus, this view can show whether two characters have many interactions. If their scene_count is high, then they have many interactions.

#### Interesting View

- Create a view of the information that you think would be interesting to fans.


- Explain what you view is producing.

<u>Answer:</u>

   - I choose to create the view character_locations, which can show the relationship between one character and one location.

In [78]:
%%sql
DROP VIEW IF EXISTS character_locations;
CREATE VIEW character_locations AS
SELECT a.location AS location,
b.characterName AS characterName,
count(*) AS location_count
FROM scenes AS a
JOIN scenes_characters AS b
USING(seasonNum, episodeNum, sceneNo)
group by location, characterName
ORDER BY location_count DESC

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
0 rows affected.
0 rows affected.

[]

In [79]:
%%sql SELECT * 
FROM character_locations
LIMIT 20

   mysql+pymysql://dbuser:***@localhost/W4111GoTSolution
 * mysql+pymysql://dbuser:***@localhost/W4111GoTSolutionClean
20 rows affected.

[('The Crownlands', 'Tyrion Lannister', 348),
 ('The Crownlands', 'Cersei Lannister', 323),
 ('The North', 'Jon Snow', 194),
 ('The Wall', 'Jon Snow', 186),
 ('The North', 'Sansa Stark', 176),
 ('The Crownlands', 'Jaime Lannister', 165),
 ('The Crownlands', 'Daenerys Targaryen', 158),
 ('The North', 'Bran Stark', 156),
 ('The Crownlands', 'Sansa Stark', 138),
 ('North of the Wall', 'Jon Snow', 129),
 ('The Crownlands', 'Lord Varys', 126),
 ('The Crownlands', 'Margaery Tyrell', 120),
 ('The Crownlands', 'Jon Snow', 119),
 ('The Riverlands', 'Arya Stark', 114),
 ('The Crownlands', 'Joffrey Baratheon', 113),
 ('The North', 'Theon Greyjoy', 111),
 ('The Crownlands', 'Davos Seaworth', 103),
 ('The Crownlands', 'Drogon', 103),
 ('The North', 'Davos Seaworth', 99),
 ('The North', 'Daenerys Targaryen', 97)]

#### Observation from character_locations:
From this view, we can find the times of one character appearing in one location. Thus, this view can show the frequecy of one character being in one location.